@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';


.bg-0{
    background: repeating-linear-gradient(
      45deg,         /* Angle of stripes */
      #FDD5BC,       /* Lighter starting color of the stripe */
      #FDD5BC 40px,  /* Lighter width of the stripe */
      #FBC4A2 40px,  /* Slightly darker ending color of the stripe */
      #FBC4A2 60px   /* Total width of two stripes (light + dark) */
    );
  }
.bg-1{
background: repeating-linear-gradient(
  45deg,         /* Angle of stripes */
  #FFD6D6,       /* Slightly lighter starting color of the stripe */
  #FFD6D6 40px,  /* Slightly lighter width of the stripe */
  #FFB3B3 40px,  /* Slightly darker color for the stripe */
  #FFB3B3 60px   /* Total width of two stripes (light + dark) */
) !important;


}

.bg-2{
background: repeating-linear-gradient(
  45deg,         /* Angle of stripes */
  #CFC3FF,       /* Lighter starting color of the stripe */
  #CFC3FF 40px,  /* Lighter width of the stripe */
  #BFB1FF 40px,  /* Slightly darker ending color of the stripe */
  #BFB1FF 60px   /* Total width of two stripes (light + dark) */
);
}

.bg-3{
background: repeating-linear-gradient(
  45deg,         /* Angle of stripes */
  #C5E8D0,       /* Lighter starting color of the stripe */
  #C5E8D0 40px,  /* Lighter width of the stripe */
  #A9D7BB 40px,  /* Slightly darker ending color of the stripe */
  #A9D7BB 60px   /* Total width of two stripes (light + dark) */
)
}

.bg-4{
background: repeating-linear-gradient(
  45deg,        /* Angle of stripes */
  #EEE8AA,      /* Lighter starting color of the stripe */
  #EEE8AA 40px, /* Lighter width of the stripe */
  #ebe7c3 40px, /* Slightly lighter dark color */
  #ebe7c3 60px  /* Total width of two stripes (light + dark) */
) !important;


}

.bg-5{
background: repeating-linear-gradient(
    45deg,        /* Angle of stripes */
    #a5f6e2,      /* Slightly lighter starting color of the stripe */
    #a5f6e2 40px, /* Slightly lighter width of the stripe */
    #55efc4 40px, /* Slightly darker color for the stripe */
    #55efc4 60px  /* Total width of two stripes (light + dark) */
) !important;
}

.right__search__filters {

                                               min-width: 219px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // min-width: 219px;
    margin-right: 20px;
    @include mq(900) {
        display: none;
 }

    .filter__1__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #ff7675;
    //         background:
    //         repeating-linear-gradient(
    //   45deg,  /* Angle of stripes */
    //   #FF7675,  /* Starting color of stripe */
    //   #FF7675 40px,  /* Width of stripe */
    //   #e66564 40px,  /* Ending color of stripe */
    //   #e66564 60px   /* Total width of two stripes (light + dark) */
    // )
    //         ;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;
            
            ul {
                margin-bottom: 7px;
                padding: 0px;

                li {
                    display: flex;
                    align-items: center;
                    justify-self: start;
                    padding: 7px;
                    cursor: pointer;
                    width: 98%;

                    .first__category{
                        font-size: 16px;
                        margin-left: 5px;
                    }

                    .child__categories{
                        font-size: 16px;
                        margin-left: 5px;
                    }
                    .check__box {
                        //margin-left: 9px;

                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
                            background-color: #FDD5BC;

                            img {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                // visibility: hidden;
                            }

                        }
                    }

                    span {
                        font-size: 18px;
                        color: gray;
                        text-align: left;

                    }

                    .arrow {
                        width: 20px;
                        height: 20px;
                        // margin-left: 5px;
                        margin-right: 4px;
                    }

                    .last__category__icon {
                        //transform: rotate(60deg);
                        opacity: 0.7;
                        margin-left: 10px;
                    }

                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                        .check__box {
                            .main__check__box {
                                .check__box__image {
                                    visibility: visible;
                                }
                            }
                        }


                    }
                }

            }
        }
    }

    .filter__2__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #00d2d3;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            direction: ltr;
            justify-content: start;
            align-items: center;

            .search__input {
                width: 160px;
                border: 2px solid gray;
                background-color: beige;
                margin-right: 16px;
            }

            .icon__search {
                width: 35px;
                height: 35px;
                cursor: pointer;
            }

        }
    }

    .filter__3__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: $green;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;

            ul {
                margin-bottom: 10px;
                padding: 0px;

                li {
                    display: flex;
                    align-items: center;
                    justify-self: start;
                    width: 98%;
                    padding: 7px;
                    cursor: pointer;

                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;

                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;

                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }


                        }
                    }

                    span {
                        font-size: 14px;
                        color: gray;
                       margin-left: 8px;

                    }

                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                        .check__box {
                            .main__check__box {
                                .check__box__image {
                                    // visibility: visible;
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    .filter__4__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: $yellow;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            direction: ltr;
            justify-content: start;
            align-items: center;

            .whole__filter__1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                width: 96%;
                cursor: pointer;

                .main__box {
                    width: 47px;
                    height: 25px;
                    border-radius: 13px;
                    margin-right: 9px;
                    border: 1.5px solid gray;
                    position: relative;
                    background: beige;

                    .move__box {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        top: 1.6px;
                        left: 24px;
                        border-radius: 10px;
                        background-color: gray;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;
                    }

                    .left2px {
                        left: 2px;
                    }
                }

                span {
                    font-size: 14px;
                    color: gray;
                }

                &:hover {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                    // .move__box{
                    //     left: 2px;
                    //     background-color: $orange;
                    // }
                }
            }

        }
    }

    .accordion__container__size {
        width: 100%;
        margin-bottom: 10px;
    
        .filter__title {
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #CFC3FF;
            padding: 8px 12px;
            border-radius: 7px;
            align-items: center;
            cursor: pointer;
    
            span {
                font-size: 16px;
                font-weight: 500;
                color: white;
            }
    
            .title__icon {
                height: 26px;
                width: 26px;
                margin-left: 3px;
                transition: all 0.5s ease-in-out;
    
                &.open__accordion {
                    transform: rotate(0deg); /* Rotate when open */
                    margin-right: 10px;
                }
    
                &.close__accordian {
                    transform: rotate(-90deg); /* Default position */
                    margin-right: 10px;
                }
            }
        }
    
        .filter__content {
            margin-right: 6px;
            width: 100%;
    
            ul {
                margin-bottom: 10px;
                padding: 0px;
                display: flex;
                flex-wrap: wrap; /* To allow wrapping for two items per row */
    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 50%; /* Each size will take 50% width */
                    padding: 7px;
                    cursor: pointer;
    
                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;
    
                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
    
                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }
                        }
    
                        &:hover {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
    
                    span {
                        font-size: 14px;
                        color: gray;
                        margin-left: 8px;
                    }
    
                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    

    .accordion__container__brand {
        width: 100%;
        margin-bottom: 10px;
    
        .filter__title {
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #ff9ab7
            ;
            padding: 8px 12px;
            border-radius: 7px;
            align-items: center;
            cursor: pointer;
    
            span {
                font-size: 16px;
                font-weight: 500;
                color: white;
            }
    
            .title__icon {
                height: 26px;
                width: 26px;
                margin-left: 3px;
                transition: all 0.5s ease-in-out;
    
                &.open__accordion {
                    transform: rotate(0deg); /* Rotate when open */
                    margin-right: 10px;
                }
    
                &.close__accordian {
                    transform: rotate(-90deg); /* Default position */
                    margin-right: 10px;
                }
            }
        }
    
        .filter__content {
            margin-right: 6px;
            width: 100%;
    
            ul {
                margin-bottom: 10px;
                padding: 0px;
                display: flex;
                flex-wrap: wrap; /* To allow wrapping for two items per row */
    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 50%; /* Each size will take 50% width */
                    padding: 7px;
                    cursor: pointer;
    
                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;
    
                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
    
                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }
                        }
    
                        &:hover {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
    
                    span {
                        font-size: 14px;
                        color: gray;
                        margin-left: 8px;
                    }
    
                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    
    .accordion__container__specification {
        width: 100%;
        margin-bottom: 10px;
    
        .filter__title {
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #CFC3FF;
            padding: 8px 12px;
            border-radius: 7px;
            align-items: center;
            cursor: pointer;
    
            span {
                font-size: 16px;
                font-weight: 500;
                color: white;
            }
    
            .title__icon {
                height: 26px;
                width: 26px;
                margin-left: 3px;
                transition: all 0.5s ease-in-out;
    
                &.open__accordion {
                    transform: rotate(0deg); /* Rotate when open */
                    margin-right: 10px;
                }
    
                &.close__accordian {
                    transform: rotate(-90deg); /* Default position */
                    margin-right: 10px;
                }
            }
        }
    
        .filter__content {
            margin-right: 6px;
            width: 100%;
    
            ul {
                margin-bottom: 10px;
                padding: 0px;
                display: flex;
                flex-wrap: wrap; /* To allow wrapping for two items per row */
    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 50%; /* Each size will take 50% width */
                    padding: 7px;
                    cursor: pointer;
    
                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;
    
                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
    
                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }
                        }
    
                        &:hover {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
    
                    span {
                        font-size: 14px;
                        color: gray;
                        margin-left: 8px;
                    }
    
                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    

    .filter__6__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;

        .accordion {
            width: 100%;

            button {
                width: 100%;
                border: 0px;
                background-color: transparent;

                &:focus {
                    outline: 0px;
                }


                .filter__title {

                    display: flex;
                    justify-content: start;
                    width: 100%;
                    background-color: #FDD5BC;
                    padding: 8px 12px;
                    border-radius: 7px;
                    align-items: center;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        color: $white;
                    }

                    .title__icon {
                        height: 26px;
                        width: 26px;
                        margin-left: 3px;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;

                    }

                    .close__accordian {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;

            ul {
                margin-bottom: 10px;

                li {
                    display: flex;
                    align-items: center;
                    justify-self: start;
                    width: 98%;
                    padding: 7px;
                    cursor: pointer;

                    .check__box {
                        margin-left: 9px;
                        background-color: beige;

                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;

                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }


                        }
                    }

                    span {
                        font-size: 14px;
                        color: gray;
                    }

                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                        .check__box {
                            .main__check__box {
                                .check__box__image {
                                    // visibility: visible;
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    .filter__5__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;

        .accordion {
            width: 100%;

            button {
                width: 100%;
                border: 0px;
                background-color: transparent;

                &:focus {
                    outline: 0px;
                }


                .filter__title {

                    display: flex;
                    justify-content: start;
                    width: 100%;
                    background-color: #FDD5BC;
                    padding: 8px 12px;
                    border-radius: 7px;
                    align-items: center;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        color: $white;
                    }

                    .title__icon {
                        height: 26px;
                        width: 26px;
                        margin-left: 3px;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;

                    }

                    .close__accordian {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;

            ul {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding: 7px;
                    cursor: pointer;

                    .check__box__color {
                        .main__check__box {
                            height: 30px;
                            width: 30px;
                            border: 2px solid #808080;
                            border-radius: 20px;
                            margin-left: 5px;
                            cursor: pointer;
                            position: relative;

                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -3px;
                                left: 5px;
                                visibility: hidden;
                            }


                        }
                    }

                    span {
                        font-size: 14px;
                        color: gray;
                    }

                    &:hover {

                        .check__box__color {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);

                                // .check__box__image{
                                //     visibility: visible;
                                //                 }
                            }
                        }


                    }
                }
            }
        }
    }

      .bg-orange {
            background-color: #ff7675 !important;
          }
}
