@import "./../../scss/variable.scss";
@import "./../../scss/mixins.scss";

@keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0.7;
    }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }
      .Stormcloud-striped{
        @include mq(900) {
            background:repeating-linear-gradient(45deg, #747D8C, #747D8C 20px, #666e7b 20px, #666e7b 40px);
color:white
         }
      }
.bg-grey{
    background-color:#eeee;
    margin-top: -20px;
    min-height: 400px;
    @include mq(700) {
        margin-top: -15px;

    }
    @include mq(500) {
        margin-top: -11px;

    }


 .whole-part{
display: flex;
// gap: 10%;
direction: ltr;
padding-top: 20px;
justify-content: space-evenly;

@include mq(900) {
   justify-content: space-evenly;
   gap: 0px;
}
@include mq(700) {
    flex-direction: column;
    align-items: center;

}
.left-part{
    // flex:1;
    width: 44%;
    display: flex;
    flex-direction: column;
    @include mq(800) {
        width: 51%;

    }
    @include mq(700) {
        position: static;
    width: 70%;
    }
    @include mq(500) {
        position: static;
    width: 95%;
    }
    @include mq(400) {
        position: static;
    width: 100%;
    }

    .header{
        background-color: white;
        height: 55px;
        display: flex;
        justify-content: start;
        width: 100%;
        align-items: center;
        justify-items: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        @include mq(900) {
            height: 60px;

        }
        // @include mq(700) {
        // margin-top: 25px;
        // }

        span{
            font-size: 20px;
            font-weight: 500;
            padding:30px;
            @include mq(800) {
                font-size: 18px;
    
            }
        }

    }

    .main-part{
        background-color: white;
        margin-top: 20px;
        .dropdown__basket__body__container{
            // max-height: 308px; /* Adjust to show around 6 items */
            // overflow-y: auto; /* Enable vertical scrolling if needed */
            width: 100%;
            overflow-x: hidden;
            background-color:#eeee;

          
          .dropdown__basket__body {
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);

            background-color:white;
margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: start;
            height: 160px;
            position: relative;
            .trash__button{
                position: absolute;
                top: 11px;
    right: 22px;
    @include mq(900) {
        right: 10px;

    }
                img{
                  margin-bottom: 3px;
                    width: 23px;
                    height: 23px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }

            .dropdown__basket__body__right {
              width: 23%;
              height: 100%;
              @include mq(900) {
                width: 30%;

            }
            @include mq(500) {
            width: 37%;
            }

              img {
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }

            .dropdown__basket__body__left {
              width: 70%;
              padding: 8px;

              span {
                text-align: right;
                display: block;
                font-weight: 500;
  font-size: 13.5px;
  text-align: left !important;

              }
              .name{
                font-size: 18px;
                @include mq(900) {
                    font-size: 17px;
            
                }
                @include mq(800) {
                    font-size: 16px;

                }
                @include mq(500) {
                    font-size: 15px;

                }
              }
              .color-size{
                display: flex;
              .color, .size{
                font-size: 16px;
                color: grey;
                margin-top: 5px;
              }
              .size{
                margin-left: 10px;
              }
            }

              .dropdown__basket__body__left__info {
                display: flex;
                position: relative;
                margin-top: 10px;
                padding-top: 2px;
  align-items: center;
  .number{
    font-size: 17px;
  }
  .number__product{
    display: flex;
    flex-direction: row-reverse;
    button{
        width: 25px;
    height: 29px;
    border: none;
    background-color: #747D8C;
    color: white;
    font-weight: 500;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    .quantity{
        font-size: 19px;
        padding: 0px 10px;
    }
  }

             
              
            }
            .price__item{
                display: block; 
                font-size: 20px;
                /* border: 2px solid; */
                display: flex;
                justify-content: start;
                border-radius: 6px;
                border-color: grey;
                padding: 0px;
                margin-top: 13px;    
                    }
                    .price {
                        display: flex;
                        align-items: center;
                        position: relative;
                        margin-top: 15px;

                        span {
                            font-size: 19px;
                            font-weight: 500;
                            color: #ff7675;
                            @include mq(900) {
                                font-size: 19px;

                            }
                            @include mq(800) {
                                font-size: 19px;

                            }
                        }

                        .before__discount__price {
                            text-decoration: line-through;
                            font-size: 19px;
                            color: grey;
                            margin-left: 0px;
                            margin-right: 16px;
                            @include mq(900) {
                                font-size: 18px;

                            }
                            @include mq(800) {
                                font-size: 17px;

                            }
                        }

                        .discount__price {
                            color: $orange;
                            margin-right: 15px;
                            font-weight: 500;
                            font-size: 19px;
                            @include mq(900) {
                                font-size: 18px;

                            }
                            @include mq(800) {
                                font-size: 17px;

                            }
                        }

                        .discount__icon {
                            position: absolute;
                            top: -9px;
                            left: -6px;

                            img {
                                width: 50px;
                                height: 50px;
                                @include mq(900) {
                                    width: 46px;
                                    height: 46px;
    
                                }
                                @include mq(800) {
                                    width: 44px;
                                    height: 44px;
    
                                }
                            }
                        }

                        .percentage__discount {
                            z-index: 5;
                            direction: ltr;
                            color: $white;
                            font-size: 20px;
                            @include mq(900) {
                                font-size: 18px;

                            }
                            @include mq(800) {
                                font-size: 17px;

                            }

                        }

                    }
            }
          }
          .dropdown__basket__body:first-child {
            margin-top: 0; /* Remove margin-top for the first element */
        }
        }
    }
}
.right-part{
    position: sticky;
    top: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
height: 350px;
width: 40%;
background-color: white;
padding: 24px;
@include mq(700) {
    position: static;
width: 70%;
margin-top: 25px;

}

@include mq(500) {
    position: static;
width: 95%;
}
@include mq(400) {
    position: static;
width: 100%;
}

.header-shopping{
display: flex;
align-items: center;
justify-content: start;
font-size: 22px;
font-weight: 500;
    span{

    }
}

.shopLine{
    width: 100%;
    height: 2px;
    background-color: #eeee;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sub-total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .title{
        font-size: 20px;
        font-weight: 500;
        @include mq(900) {
            font-size: 18px;

        }
    }
    .sub-total-price{
font-size: 20px;
font-weight: 500;
@include mq(900) {
    font-size: 18px;

}
    }
}
.delivery{
    display: flex;
    justify-content: space-between;
    .title{
        font-size: 20px;
        font-weight: 500;
        @include mq(900) {
            font-size: 18px;

        }
    }
    .delivery-img{
width: 20px;
height: 20px;
    }
}

.checkout-button{
display: flex;
align-items: center;
justify-content: center;
font-size: 21px;
font-weight: 500;
background-color: #00B894;
margin-bottom: 15px;
color: white;
padding: 6px;
cursor: pointer;
@include mq(900) {
    font-size: 19px;
    padding: 5px;

}
&:hover{
    background-color: #009870;
}
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .header{
font-weight: 500;
@include mq(850) {
   font-size: 15px;
}
    }
    .payment{
display: flex;
justify-content: start;
gap: 6px;

img{
    width: 45px;
    height: 45px;
    @include mq(850) {
        width: 37px;
        height: 37px;
    }
}
    }
    .discount-explain{
margin-top: 10px;
@include mq(900) {
    font-size: 13px;

}
    }
}
}
 }

.also{
    padding-bottom: 30px;
padding-top: 15px;
}
}
