@import "./../../../../scss/mixins.scss";


.regular{

}
.signin__login__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
 




.success__login__register{
    margin-left: 20px;

    // a{
    //     text-align: right;
    // }
}


    }