@import "./../../../../scss/mixins.scss";


.regular{

}
.signin__login__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
 




.success__login__register{
    margin-left: 20px;
    @include mq(900) {
        display: none; /* This will grow between 500px and 1300px */
      }
    // a{
    //     text-align: right;
    // }
}


    }