@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';

@keyframes phone__animate {
  0% {
    transform: rotate(120deg) scale(1);
  }

  50% {
    transform: rotate(240deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blurred {
  filter: blur(1.5px); /* You can adjust the blur amount */
}

.mainfooter {
  background-color: $orange;
  padding: 30px 0px 15px 0px;

  .footer__top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    @include mq(1000) {
      justify-content: space-between;

   }
  

    .image3 {
    
    }

    .image4 {
    
    }

    .footer__top__image {
      display: flex;
      flex-direction: column;
      align-items: center;
  

      img {
        height: 72px;
        width: 72px;
        object-fit: contain;
        @include mq(1000) {
          height: 65px;
          width: 65px;
      }
      @include mq(600) {
        height: 55px;
        width: 55px;
    }
    @include mq(100) {
      height: 72px;
      width: 72px;
  }
      }
      .large-tile{

        @include mq(850) {
          display: none;
        }
      }
      .little-tile{
        display: none;
        @include mq(850) {
         display: flex;

      }
      }
      > span {
        margin-top: 13px;
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        @include mq(1000) {
          font-size: 15px;

      }
      @include mq(1000) {
        font-size: 15px;

    }
    @include mq(900) {
      font-size: 14px;

  }
  @include mq(500) {
    font-size: 13px;

}
@include mq(100) {
  font-size: 15px;

}
      }
    }
  }

  .footer__middle {
    padding: 0px 0px 5px 0px;
    direction: ltr;


    .footer__middle__main {
      margin-bottom: -5px;
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      direction: ltr;
      @include mq(1000) {
        justify-content: space-between;

    }
 
      .footer__middle__right {
        width: 62%;
        @include mq(1000) {
          width: 68%;
  
      }
      @include mq(850) {
        width: 69%;

    }
    @include mq(800) {
      width: 70%;

  }
  @include mq(600) {
    width: 65%;

}

        > ul {
          display: flex;
          direction: ltr;
          width: 96%;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          @include mq(1000) {
            width: 100%;

        }
        @include mq(600) {
justify-content: space-evenly;
      }
        .third-column{
          @include mq(600) {
display: none !important;
        }
        }
          > li {
      
            .footer_title{
              font-weight: 500;
              @include mq(1000) {
                font-size: 14px;

            }
            @include mq(780) {
              font-size: 13px;

          }
          @include mq(660) {
            font-size: 12px;

        }
        @include mq(500) {
          font-size: 11px;

      }
            }
            span {
              margin-bottom: 10px;
              display: inline-block;
              position: relative;
              font-size: 15px;
              margin-left: 7px;
              margin-top: 0px;
              margin-bottom: 5px;
              margin-right: 0px;
        

              &::before {
                content: "";
                height: 23px;
                width: 30px;
                position: absolute;
                background-size: 19px;
                margin-top: 2px;
                margin-right: -38px;
                transition: all 0.3s;
              }
            }

            .sub_cat {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin-left: 8px;
              padding: 0;
           

              


              li.hover-item {
                position: relative;
                display: flex;
                align-items: center;
                @include mq(850) {
                  margin-top: 7px;

              }
                &:hover{
                  .subcat-image{
                   scale: 1.1;
                  }
                  .text{
                    transform: translate3d(0, -1px, 0); /* Moves the span 5px up using translate3d */
                  }
                }
              .text{
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                    will-change: transform; /* Inform the browser in advance */
                    @include mq(1000) {
                      font-size: 14px;
    
                  }
                  @include mq(850) {
                    font-size: 13px;
  
                }
                @include mq(780) {
                  font-size: 12px;
    
              }
              @include mq(500) {
                font-size: 11px;

            }
            @include mq(450) {
              font-size: 10px;

          }
 
              }
                .subcat-image {
                  width: 15px;
                  height: 15px;
                  margin-right: 9px;
                  z-index: 2; /* Keep the image on top of the circle */
                  position: relative;
                  @include mq(850) {
                    margin-right: 5px;
  
                }
                @include mq(780) {
                  margin-right: 2px;

              }
              @include mq(660) {
                margin-right: 0px;
                width: 10px;
                height: 10px;
            }
          //   @include mq(600) {
          //     margin-right: 0px;
          //     width: 5px;
          //     height: 5px;
          //     margin-bottom: 3px;

          // }
                }
              
                // &:before {
                //   content: '';
                //   position: absolute;
                //   left: 7px; /* Adjust position to center the circle around the image */
                //   top: 0px;
                //   transform: translate(-50%, -50%);
                //   width: 15px;  /* Circle starts the same size as the image */
                //   height: 15px;
                //   border: 2px solid #FF4C4C;  /* Circle border color */
                //   border-radius: 50%;
                //   transition: all 0.3s ease;
                //   z-index: 1; /* Behind the image */
                // }
              
                // &:hover:before {
                //   width: 20px;   /* Circle grows larger on hover */
                //   height: 20px;
                // }
              }
              



          }





            ul {
              .third {
              }

              .second {
             
              }

              li {
                margin-top: 13px;
                cursor: pointer;
                font-size: 14px;
            

                &:hover {
                  &::after {
                    // transform: scaleX(1);
                    // transform-origin: 0% 50%; /* Start from left to right */
                  }
                }

                &::after {
                  // margin-top: 5px;
                  // content: "";
                  // display: block;
                  // width: 100%;
                  // height: 2px;
                  // background-color: $green500;
                  // transition: 0.4s;
                  // transform: scaleX(0);
                  // transform-origin: 0% 50%; /* Start from left to right */
                }
              }
            }
          }
        }
      }

      .footer__middle__left {
        width: 27%;
        @include mq(850) {
          justify-content: space-evenly;
  
      }
      @include mq(600) {
        width: 31%;

    }
     
        .footer__middle__left__first {
          .larg-follow{
            @include mq(650) {
display: none;      
          }
          }
          .little-follow{
            display: none;
            @include mq(650) {
              display: flex;      
                        }
          }
          > span {
            font-size: 17px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-weight: 500;
            @include mq(1000) {
              font-size: 16px;
      
          }
          @include mq(900) {
            font-size: 15px;
    
        }
        @include mq(800) {
          font-size: 14px;
  
      }
      @include mq(10) {
        font-size: 13px;

    }
          }

          ul {
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            direction: ltr;
        padding: 0px;

            li {
              margin-top: 14px;
              list-style-type: none;
              @include mq(800) {
                margin-top: 11px;

            }
            @include mq(700) {
              margin-top: 8px;

          }
          @include mq(450) {
            margin-top: 4px;

        }

              &:hover {
                img {
                  transform: rotate(360deg);
                }
              }

              img {
                width: 34px;
                height: 34px;
                transition: all 0.7s;
                cursor: pointer;
                @include mq(1000) {
                  width: 30px;
                height: 30px;
          
              }
              @include mq(900) {
                width: 30px;
                height: 30px;
        
            }
            @include mq(800) {
              width: 27px;
            height: 27px;
      
          }
          @include mq(600) {
            width: 25px;
          height: 25px;
    
        }
        @include mq(550) {
          width: 23px;
        height: 23px;
  
      }
      @include mq(450) {
        width: 21px;
      height: 21px;

    }
              }
            }
          }
        }

        .footer__middle__left__second {
          display: flex;
          direction: ltr;
          margin-top: 15px;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;

          .icon__image {
            img {
              width: 45px;
              height: 45px;
              cursor: pointer;
              @include mq(1000) {
                width: 35px;
              height: 35px;
        
            }
            @include mq(600) {
              width: 31px;
            height: 31px;
      
          }
          @include mq(500) {
            width: 28px;
          height: 28px;
    
        }
        @include mq(450) {
          width: 27px;
        height: 27px;
  
      }


              &:hover {
                // animation: phone__animate 1.3s;
              }
            }
          }

          .phone__number {
            font-size: 15px;
            margin-left: 12px;
            @include mq(800) {
              font-size: 13px;
      
          }
          @include mq(700) {
            font-size: 12px;
            margin-left: 10px;

        }
        @include mq(500) {
          font-size: 11px;
          margin-left: 12px;

      }
      @include mq(450) {
        font-size: 10px;
        margin-left: 9px;

    }
          }
        }
      }
    }

    .line {
    
    }
  }

  .footer__bottom {
    .footer__info {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      direction: ltr;

      .developer__name {
        font-size: 15px;
        cursor: pointer;
        margin-left: 5px; /* Adjust spacing between name and title */
      }
    }

    .footer__info {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;



      .developer__name {
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
