@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';

@keyframes phone__animate {
  0% {
    transform: rotate(120deg) scale(1);
  }

  50% {
    transform: rotate(240deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blurred {
  filter: blur(1.5px); /* You can adjust the blur amount */
}

.mainfooter {
  background-color: $orange;
  padding: 30px 0px 15px 0px;

  .footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @include mq(520) {
      justify-content: space-around;
    }

    .image3 {
      @include mq(520) {
        display: none !important;
      }
    }

    .image4 {
      @include mq(780) {
        display: none !important;
      }
    }

    .footer__top__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mq(999) {
        width: 25%;
      }
      @include mq(780) {
        width: 30%;
      }
      @include mq(520) {
        width: 45%;
      }

      img {
        height: 74px;
        width: 110px;
        object-fit: contain;
      }

      > span {
        margin-top: 13px;
        font-size: 17px;
        text-align: center;
        font-weight: 500;
        @include mq(1000) {
          margin-left: 10px;
        }
        @include mq(780) {
          margin-left: 0px;
        }
      }
    }
  }

  .footer__middle {
    padding: 0px 0px 5px 0px;
    direction: ltr;
    @include mq(765) {
      padding: 0px;
    }

    .footer__middle__main {
      margin-bottom: -5px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      direction: ltr;
      @include mq(800) {
        flex-direction: column;
      }

      .footer__middle__right {
        width: 60%;
        @include mq(992) {
          width: 64%;
        }
        @include mq(800) {
          width: 100%;
        }

        > ul {
          display: flex;
          direction: ltr;
          width: 96%;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          @include mq(800) {
            flex-direction: column;
          }

          > li {
            @include mq(800) {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            span {
              margin-bottom: 10px;
              display: inline-block;
              position: relative;
              font-size: 15px;
              margin-left: 7px;
              margin-top: 0px;
              margin-bottom: 5px;
              margin-right: 0px;
              @include mq(800) {
                margin-bottom: 0px;
              }
              @include mq(685) {
                margin-right: 24px;
              }
              @include mq(520) {
                width: 40%;
                text-align: right;
              }

              &::before {
                content: "";
                height: 23px;
                width: 30px;
                position: absolute;
                background-size: 19px;
                margin-top: 2px;
                margin-right: -38px;
                transition: all 0.3s;
              }
            }

            .sub_cat {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              margin-left: 8px;
              padding: 0;
              @include mq(800) {
                align-items: center;
                flex-direction: row;
                width: 75%;
                justify-content: space-between;
                @include mq(686) {
                  justify-content: space-around;
                }
                @include mq(550) {
                  width: 65%;
                }
              }

              


              li.hover-item {
                position: relative;
                display: flex;
                align-items: center;

                &:hover{
                  .subcat-image{
                   scale: 1.1;
                  }
                  .text{
                    transform: translate3d(0, -1px, 0); /* Moves the span 5px up using translate3d */
                  }
                }
              .text{
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                    will-change: transform; /* Inform the browser in advance */


              }
                .subcat-image {
                  width: 15px;
                  height: 15px;
                  margin-right: 9px;
                  z-index: 2; /* Keep the image on top of the circle */
                  position: relative;

                }
              
                // &:before {
                //   content: '';
                //   position: absolute;
                //   left: 7px; /* Adjust position to center the circle around the image */
                //   top: 0px;
                //   transform: translate(-50%, -50%);
                //   width: 15px;  /* Circle starts the same size as the image */
                //   height: 15px;
                //   border: 2px solid #FF4C4C;  /* Circle border color */
                //   border-radius: 50%;
                //   transition: all 0.3s ease;
                //   z-index: 1; /* Behind the image */
                // }
              
                // &:hover:before {
                //   width: 20px;   /* Circle grows larger on hover */
                //   height: 20px;
                // }
              }
              



          }





            ul {
              .third {
                @include mq(686) {
                  display: none !important;
                }
              }

              .second {
                @include mq(520) {
                  display: none !important;
                }
              }

              li {
                margin-top: 13px;
                cursor: pointer;
                font-size: 14px;

                &:hover {
                  &::after {
                    // transform: scaleX(1);
                    // transform-origin: 0% 50%; /* Start from left to right */
                  }
                }

                &::after {
                  // margin-top: 5px;
                  // content: "";
                  // display: block;
                  // width: 100%;
                  // height: 2px;
                  // background-color: $green500;
                  // transition: 0.4s;
                  // transform: scaleX(0);
                  // transform-origin: 0% 50%; /* Start from left to right */
                }
              }
            }
          }
        }
      }

      .footer__middle__left {
        width: 29%;
        @include mq(992) {
          width: 27%;
        }
        @include mq(800) {
          width: 100%;
        }

        .footer__middle__left__first {
          > span {
            font-size: 17px;
            text-align: center;
            display: flex;
            justify-content: center;
          }

          ul {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            direction: ltr;
            @include mq(800) {
              padding-left: 40px;
              box-sizing: border-box;
              padding-right: 40px;
              justify-content: space-between;
            }

            li {
              margin-top: 14px;
              list-style-type: none;

              &:hover {
                img {
                  transform: rotate(360deg);
                }
              }

              img {
                width: 34px;
                height: 34px;
                transition: all 0.7s;
                cursor: pointer;
              }
            }
          }
        }

        .footer__middle__left__second {
          display: flex;
          direction: ltr;
          margin-top: 15px;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;

          .icon__image {
            img {
              width: 45px;
              height: 45px;
              cursor: pointer;

              &:hover {
                // animation: phone__animate 1.3s;
              }
            }
          }

          .phone__number {
            font-size: 15px;
            margin-left: 12px;
          }
        }
      }
    }

    .line {
      @include mq(1000) {
        margin-top: 2rem;
      }
    }
  }

  .footer__bottom {
    .footer__info {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      direction: ltr;

      .developer__name {
        font-size: 15px;
        cursor: pointer;
        margin-left: 5px; /* Adjust spacing between name and title */
      }
    }

    .footer__info {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;



      .developer__name {
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
