@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';


@keyframes icon__animate {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(-45deg);

    }

    75% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(45deg);

    }
}


.orange-striped{
    background: repeating-linear-gradient(
  45deg,         /* Angle of stripes */
  #FF7675,       /* Lighter starting color of the stripe */
  #FF7675 40px,  /* Lighter width of the stripe */
  #e66564 40px,  /* Slightly darker ending color of the stripe */
  #e66564 60px   /* Total width of two stripes (light + dark) */
);
}

.last__offer {
    margin-top: 15px;
    position: relative;

    
    .main__offer {
        display: flex;
        align-items: center;
        width: 99%;
        flex-direction: column;

        .top__offer {
            display: flex;
            width: 100%;

            .top__offer__category {
                color: $white;
                padding: 5px 5px 3px 10px;
                font-size: 18px;
                font-weight: 500;
                border-radius: 3px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                width: 100%;
                height: 50px;
                direction:ltr;
                margin-bottom: 5px;


                @include mq(1200) {
                    padding: 5px 5px 3px 10px;
                    font-size: 18px;   
                                 }
                    @include mq(900) {
                        font-size: 17px; 
                        margin-bottom: 5px;
      
                    }
                    @include mq(768) {
                        font-size: 17px; 
                        margin-bottom: 5px;
  
                    }
                    @include mq(600) {
                        padding: 2px 2px 3px 6px;
                        font-size: 16px;  
                        height: 42px; 
                        margin-bottom: 5px;

                    }
                    @include mq(480) {
                        padding: 0px;
                        font-size: 14px;  
                        height: 35px; 
                        margin-bottom: 5px;

                    }
                .icon {
                    height: 38px;
                    width: 38px;
                    margin-right: 13px;
                    @include mq(1200) {
                   
                                     }
                        @include mq(900) {
                              
                        }
                        @include mq(768) {
                           
                        }
                        @include mq(600) {
                            height: 32px;
                            width: 32px; 
                        }
                        @include mq(480) {
                            height: 27px;
                    width: 27px;  
                        }
                }
             

.plus{
    width: 2%;
    text-decoration: none;
}
            

                .arrow {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    top: 44px;
                    right: 182px;
                    visibility: hidden;

                }
            }

            .orange {
                background-color: $orange;
            }

            .lightgreen {
                background-color: #81ecec;
            }

            .green300 {
                background-color: #55efc4;
            }

            .lemon {
                background-color: #fab1a0;
            }

            .blue {
                background-color: #74b9ff;
            }

            .green {
                background-color: $green;
            }

        }

        .middle__offer__slider {
            display: flex;
            direction: ltr;
            justify-content: start;
            width: 100%;

            .line {
                background-color: $green;
                width: 99%;
                height: 4px;

            }
        }

        .buttom__offer__slider {
            width: 100%;
            padding-top: 5px;
            background-color: $white;

            &:hover {
                .slick-arrow {
                    visibility: visible;

                    @include mq(500) {
                        visibility: hidden;
                     }
                }
            }

            .one__product {
                // width: 20%;
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;

                .tag__discount {
                    position: absolute;
                    border-radius: 12px;
                    width: 41px;
                    height: 41px;
                    background-color: #ff7675;
                    top: 5px;
                    left: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 19px;
                    font-weight: 500;
                    z-index: 10;
                    font-size: 16px;
                    @include mq(1000) {
                        width: 38px;
                        height: 38px;
                        font-size: 15px;
                    }
                    @include mq(850) {
                        width: 35px;
                        height: 35px;
                        font-size: 14px;
                    }
                    @include mq(750) {
                        width: 30px;
                        height:30px;
                        font-size: 13px;
                        padding: 17px;
                    }
                    @include mq(600) {
                        width: 23px;
                        height:23px;
                        font-size: 11px;
                        padding: 15px;
                        left:10px

                    }
                    @include mq(500) {
                        width: 20px;
                        height:20px;
                        font-size: 10px;
                        padding: 14px;
                        left:8px;

                    }
                }

                .product__images {
                    display: flex;
                    direction: ltr;
                    justify-content: center;
                    position: relative;

                    &:hover {
                        .overlay__name {
                            opacity: 1;
                        }
                    }

                    .overlay__name {
                        border-radius: 4px;
                        position: absolute;
                        width: 90%;
                         height: 40px;
                        background-color: white;
                        opacity: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        direction: ltr;
                        padding: 5px 2px;
                        font-size: 13px;
                        right: 5%;
                        bottom: 5%;
                        font-weight: 500;
                        color:black;
                        @include mq(1100) {
                            font-size: 12px;
                        }
                        @include mq(850) {
                            padding: 4px 2px;
                            font-size: 11px;
                            height: 34px;

                        }
                        @include mq(750) {
                            padding: 2px 1px !important;
                            font-size: 10px;
                            height: 30px;

                        }
                        @include mq(500) {
                            padding: 2px 1px !important;
                            font-size: 8px;
                            height: 25px;

                        }
                    }

                    img {
                        width: 96%;
                        height: 300px;

                        border-radius: 4px;
                        cursor: pointer;
                        @include mq(980) {
                            height: calc(25vw / 0.75);
                        }
                        @include mq(650) {
                            height: calc(33vw / 0.75);
                        }
                        @include mq(500) {
                            height: calc(33vw / 0.80);
                        }
                        
                        // @include mq(1100) {
                        //     height: 280px;
                        // }
                        // @include mq(980) {
                        //     height: 300px;
                        // }
                        // @include mq(800) {
                        //     height: 270px;
                        // }
                        // @include mq(750) {
                        //     height: 230px;
                        // }
                        // @include mq(600) {
                        //     height: 220px;
                        // }
                        // @include mq(550) {
                        //     height: 210px;
                        // }


                        &:hover {
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);

                        }

                    }


                }

                .product__detail {
display: flex;
position: relative;
flex-direction: column;
                    .product__box__color {
                        margin-bottom: 6px;
                        width: 100%;

                        ul {
                            display: flex;
                            margin-top: 10px;
                            margin-bottom: 2px;
                            justify-content: start;
                            direction: ltr;
                            padding: 0px;
                            // margin-left: 65px;
                            margin-right: 5px;


                            li {
                                height: 30px;
                                width: 30px;
                                border: 2px solid grey;
                                border-radius: 20px;
                                margin-left: 5px;
                                cursor: pointer;
                                @include mq(900) {
                                    height: 27px;
                                    width: 27px;
                                }
                                @include mq(600) {
                                    height: 24px;
                                    width: 24px;
                                }
                                @include mq(500) {
                                    height: 22px;
                                    width: 22px;
                                   margin-left: 3px;
                                }

                                &:hover {
                                    border: 2px solid black;

                                }
                            }

                            .yellow {
                                background-color: yellow;

                            }

                            .orange {
                                background-color: $orange;
                            }

                            .white {
                                background-color: $white;
                            }
                        }
                    }

                    .product__name {
                        text-align: right;
                        font-size: 15px;
                        margin-bottom: 5px;

                    }

                    .product__price__and__icon {
                        margin-left:9px;
                        display: flex;
                        direction: ltr;
                        justify-content: start;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        transition: all 0.6s ease-in-out 0s;
                        -webkit-transition: all 0.6s ease-in-out 0s;
                        -moz-transition: all 0.6s ease-in-out 0s;
                        -ms-transition: all 0.6s ease-in-out 0s;
                        -o-transition: all 0.6s ease-in-out 0s;


                        &:hover {
                            .icon__basket {
                                background-color: #ff7675;
                                width: 160px;
                                transition: all 0.6s ease-in-out 0s;
                                -webkit-transition: all 0.6s ease-in-out 0s;
                                -moz-transition: all 0.6s ease-in-out 0s;
                                -ms-transition: all 0.6s ease-in-out 0s;
                                -o-transition: all 0.6s ease-in-out 0s;


                                .pluse {
                                    visibility: visible;
                                }
                            }

                            .add__to__cart {

                                visibility: visible;


                            }
                        }

                        .icon__basket {
                            position: relative;
                            padding: 4px;
                            background-color: #747D8C;
                            border-radius: 4px;
                            cursor: pointer;
                            transition: all 2s ease-in-out 0s;
                            -webkit-transition: all 2s ease-in-out 0s;
                            -moz-transition: all 2s ease-in-out 0s;
                            -ms-transition: all 2s ease-in-out 0s;
                            -o-transition: all 2s ease-in-out 0s;


                            .add__basket {
                                width: 35px;
                                height: 35px;
                                padding: 5px;
                                @include mq(900) {
                                    height: 32px;
                                    width: 32px;
                                }
                                @include mq(800) {
                                    height: 30px;
                                    width: 30px;
                                }
                                @include mq(700) {
                                    height: 29px;
                                    width: 29px;
                                }
                                @include mq(500) {
                                    height: 26px;
                                    width: 26px;
                                }
                            }

                            .pluse {
                                position: absolute;
                                top: 48%;
                                width: 10px;
                                height: 10px;
                                right: 41%;
                            }
                            
                        }

                        .poduct__price {
                            color: black;
                            font-size: 15px;
                            text-align: right;
                            font-weight: bold;
                            
                            @include mq(900) {
                                font-size: 13px;

                            }
                            @include mq(700) {
                                font-size: 12px;

                            }
                            @include mq(500) {
                                font-size: 11px;

                            }

                        }

                        .discount__price {
                            text-decoration: line-through;
                            font-size: 13px;
                         
                            @include mq(900) {
                                font-size: 13px;

                            }
                            @include mq(700) {
                                font-size: 12px;

                            }
                            @include mq(500) {
                                font-size: 11px;

                            }
                        }

                        .discount__price__main {
                            color: $orange;
                            font-size: 14px;
margin-left: 8px;                            
                            z-index: -1;
                            font-weight: bold;
                            @include mq(900) {
                                font-size: 13px;
                                top: 23px;

                            }
                            @include mq(600) {
                                font-size: 12px;
                                top: 23px;

                            }
                            @include mq(500) {
                                font-size: 11px;
                                top: 20px;

                            }

                        }

                        .add__to__cart {
                            position: absolute;
                            top: 12px;
                            left: 51px;
                            visibility: hidden;
                            font-size: 15px;
                            font-weight: bold;
                            color: $white;
                            transition-delay: 0.4s;


                        }

                    }
                }
            }

        }
    }

    .slick-arrow {
        top: 40%;
        visibility: hidden;

        &::before {
            font-size: 35px;
            color: grey;
        }
    }

    .slick-next {
        right: -1px;
        @include mq(500) {
           display: none;
        }
    }

    .slick-prev {
        left: -12px;
        z-index: 10;
        @include mq(500) {
            display: none;
        }
    }

    .red{
        background-color:#f53b57;
      }
      .yellow{
        background-color: yellow;
      }
      .blue{
        background-color: #74b9ff;
      }
      .orange{
        background-color: #ff7675;
      }
      
      .white{
        background-color: white;
      }
      .grey{
        background-color: grey;
      
      }
      .red{
        background-color:#f53b57;
      }
      .black{
        background-color: #2d3436;
      }
      .pink{
        background-color: pink;
      }
      .brown{
        background-color: #dabb9f;
      }
      .cream{
        background-color: #fab1a0;
      
      }
      .green{
        background-color:#55efc4;
      
      }
      .lightblue{
        background-color:$lightgreen;
      }
}