@import './../../scss/variable.scss';
@import './../../scss/mixins.scss';



@keyframes icon__animate2 {
    0% {
        transform: translate(0px, 0);
    }

    15% {
        transform: translate(20px, 0);

    }

    30% {
        transform: translate(-20px, 0);

    }

    45% {
        transform: translate(20px, 0);

    }

    60% {
        transform: translate(-20px, 0);

    }

    75% {
        transform: translate(20px, 0);

    }

    90% {
        transform: translate(-20px, 0);

    }

    100% {
        transform: translate(0px, 0);

    }

}
.orange-striped{
    background: repeating-linear-gradient(
  45deg,         /* Angle of stripes */
  #FF7675,       /* Lighter starting color of the stripe */
  #FF7675 40px,  /* Lighter width of the stripe */
  #e66564 40px,  /* Slightly darker ending color of the stripe */
  #e66564 60px   /* Total width of two stripes (light + dark) */
);
}
.Toastify {
    text-align: right;

    .Toastify__toast-body {
        margin-right: 24px;
        font-size: 15px
    }
}

.blurred {
    filter: blur(1.5px); /* You can adjust the blur amount */
  }
  
.c-white{
    color: white;
}


.main {
    margin-bottom: 30px;
    .top__page {
        width: 100%;
        min-height: 610px;

        .container-special {
            width: 100%;
            direction: ltr;

            .breadcrumb1 {
                direction: ltr !important;
                display: flex; 
                justify-content: start;
                text-decoration: none !important;
                .sixty{
                    width: 53%;
                    @include mq(700) {
width: 0%;
                    }
                }
                .breadcrumb-item {
                    text-decoration: none !important;

                    font-size: 15px;
                    color: grey;
                    @include mq(900) {
                        font-size: 14px;

                    }
                    @include mq(800) {
                        font-size: 13px;

                    }
                    @include mq(800) {
                        font-size: 12px;

                    }

                    a {
                        color: grey;
                        text-decoration: none !important;

                    }

                    &::before {
                        margin-left: 5px;
                    }

                    &:hover {
                        a {
                            color: $orange;
                        }
                    }
                }
            }

            .top__right__and__left {
                width: 100%;
                display: flex;
                direction: rtl;
                height: 100%;
                justify-content: space-between;
                @include mq(700) {
                   flex-direction: column-reverse;

                }
          
                .detail__product__right {
                    // min-width: 492px;
                    width: 47%;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    direction: ltr;
                    flex-direction: column;
                    @include mq(700) {
                        width: 100%;
                    }

                    .price {
                        display: flex;
                        align-items: center;
                        position: relative;
                        margin-top: 17px;

                        span {
                            font-size: 23px;
                            font-weight: 500;
                            color: #ff7675;
                            @include mq(900) {
                                font-size: 22px;

                            }
                            @include mq(800) {
                                font-size: 21px;

                            }
                        }

                        .before__discount__price {
                            text-decoration: line-through;
                            font-size: 20px;
                            color: grey;
                            margin-left: 15px;
                            margin-right: 16px;
                            @include mq(900) {
                                font-size: 19px;

                            }
                            @include mq(800) {
                                font-size: 18px;

                            }
                        }

                        .discount__price {
                            color: $orange;
                            margin-right: 15px;
                            font-weight: 500;
                            font-size: 23px;
                            @include mq(900) {
                                font-size: 22px;

                            }
                            @include mq(800) {
                                font-size: 21px;

                            }
                        }

                        .discount__icon {
                            position: absolute;
                            top: -9px;
                            left: -6px;

                            img {
                                width: 50px;
                                height: 50px;
                                @include mq(900) {
                                    width: 46px;
                                    height: 46px;
    
                                }
                                @include mq(800) {
                                    width: 44px;
                                    height: 44px;
    
                                }
                            }
                        }

                        .percentage__discount {
                            z-index: 5;
                            direction: ltr;
                            color: $white;
                            font-size: 20px;
                            @include mq(900) {
                                font-size: 18px;

                            }
                            @include mq(800) {
                                font-size: 17px;

                            }

                        }

                    }

                    .title__and__price {
                        display: flex;
                        align-items: start;
                        justify-content: space-between;
                        direction: ltr;
                        flex-direction: column;
                        width: 100%;
                        margin-bottom: 5px;

                        .title {
                            display: flex;
                            justify-content: start;
                            align-items: start;
                            width: 100%;
                            margin-bottom: 10px;
                            flex-direction: column;

                            span {
                                font-size: 23px;
                                font-weight: 500;
                            }

                            .english__name {
                                font-size: 28px;
                                font-weight: 500;
                                color: black;
                                @include mq(900) {
                                    font-size: 25px;
                                }
                                @include mq(800) {
                                    font-size: 23px;
                                }
                                @include mq(700) {
                                    font-size: 22px;
                                }
                            }
                            
                        }

                        .brand{
                            display: flex;
                            text-decoration: none;
                            font-size: 20px;
                            text-decoration: none;
                            font-weight: 500;
                            @include mq(900) {
                               font-size: 19px;

                            }
                            @include mq(800) {
                                font-size: 18px;


                            }
                            span{
                                text-decoration: none;

                            }
                            a {
                                text-decoration: none !important;
                            }

                            .title{
                                color:grey
                            }
                        }


                    }

                    .review {
                        margin-top: 2px;
                        display: flex;
                        justify-content: start;

                        .rateNumber{
                            color: #ff7675;
                            font-weight: 600;
                            font-size: 22px;
                        }

                        ul {
                            display: flex;
                            margin-bottom: 0px;

                            padding-left: 0px;

                            .star__icon {
                                margin-left: 5px;

                                svg {
                                    width: 22px;
                                    height: 22px;
                                    fill: gray;
                                }

                                .positive {
                                    fill: $yellow;
                                    //clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
                                }
                            }

                        }

                        span {
                            color: $lightgreen2;
                            font-size: 21px;
                            font-weight: 500;
                            margin-left: 10px;
                            @include mq(900) {
                                font-size: 20px;

                            }
                            @include mq(800) {
                                font-size: 19px;

                            }
                            // cursor: pointer;

                        }
                    }

                    // .the__box__of__discount {
                    //     margin-top: 17px;
                    //     display: flex;
                    //     flex-direction: column;
                    //     align-items: start;

                    //     .title {
                    //         font-size: 18px;
                    //         color: gray;
                    //         font-weight: 500;
                    //     }

                    //     .discount__box {
                    //         margin-top: 10px;
                    //         display: flex;
                    //         direction: ltr;
                    //         align-items: center;

                    //         .box {
                    //             width: 66px;
                    //             height: 58px;
                    //             background-color: $lightgray2;
                    //             display: flex;
                    //             justify-content: center;
                    //             align-items: center;
                    //             flex-direction: column;

                    //             margin-right: 10px;
                    //             border-radius: 20px;

                    //             span {
                    //                 font-size: 18px;
                    //             }

                    //             .number {
                    //                 font-weight: bold;
                    //             }
                    //         }
                    //     }
                    // }
                    
                    .the__box__of__discount {
                        margin-top: 22px;
                        margin-bottom: 13px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                      
                        .title {
                          font-size: 18px;
                          color: gray;
                          font-weight: 500;
                        }
                      
                        .countdown {
                          margin-top: 10px;
                          display: flex;
                          align-items: center;
                        }
                      
                        .number {
                          width: 66px;
                          height: 58px;
                          background-color: #e0e0e0;
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          margin-right: 10px;
                          border-radius: 20px;
                          position: relative;
                          text-align: center;
                        }
                      
                        .number__value {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          width: 100%;
                          height: 100%;
                          font-size: 2em;
                          color: #fff;
                          background: radial-gradient(#93d9f9, #0cb0b5);
                          border-radius: 20px;
                          backface-visibility: hidden;
                          transform: rotateX(0deg);
                          transition: transform 0.6s ease-in-out;
                        }
                      
                        .number__label {
                          margin-top: 4px;
                          font-size: 1em;
                          color: gray;
                        }
                      
                        /* Rotate the number when it changes */
                        .number.decrease .number__value {
                          transform: rotateX(-90deg);
                        }
                      }



                    

                    .product__detail {
                        margin-top: 21px;
                        width: 100%;

                        .title {
                            color: gray;
                            font-size: 17px;
                            font-weight: 500;
                            margin-left: 5px;

                        }

                        .description {
                            font-size: 17px;
                            font-weight: 500;

                        }

                        .one-line {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            flex-wrap: wrap;

                            .id {
                                margin-left: 16px;
                            }

                            .brand {
                                margin-left: 16px;

                            }
                            .category{
                          
                            }
                            .stock{
                           
                            }

                            .waranty {
                                margin-left: 25px;

                            }
                        }
                    }

                    .color__and__size {
                        width: 100%;

                        .product__box__color {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .title__color {
                                display: flex;  
                                width: 41%;
                                @include mq(1100) {
                                    width: 45%;    
                                }

                            }

                            span {
                                font-size: 20px;
                                font-weight: 500;
                                @include mq(900) {
                                    font-size: 18px;
                                }
                                @include mq(800) {
                                    font-size: 17px;
                                }
                                @include mq(700) {
                                    font-size: 17px;
                                }
                            }

                            .title {
                                color: gray;
                                @include mq(900) {
                                    font-size: 18px;
                                }
                                @include mq(800) {
                                    font-size: 17px;
                                }
                                @include mq(700) {
                                    font-size: 17px;
                                }
                            }


                            ul {
                                display: flex;
                                margin-top: 18px;
                                margin-bottom: 7px;
                                justify-content: start;
                                direction: ltr;
                                padding: 0px;
                                width: 100%;
                                @include mq(1000) {
                                    margin-left: 20px;
    
                                }
                                @include mq(700) {
                                    margin-left: 0px;
    
                                }
                       
                             



                                
                                .chose {
                                    border: 2px solid black;
                                }

                                .not__allowed {
                                    cursor: not-allowed;
                                }

                                li {
                                    height: 38px;
                                    width: 38px;
                                    border: 2px solid grey;
                                    border-radius: 30px;
                                    margin-left: 5px;
                                    cursor: pointer;
                                    position: relative;
                                    @include mq(900) {
                                        height: 35px;
                                        width: 35px;
                                    }
                                    @include mq(800) {
                                        height: 32px;
                                        width: 32px;
                                    }
                                    @include mq(700) {
                                    }
                                    .orange {
                                        background-color: #ff7675;
                                    }
                                    .red {
                                        background-color: #f53b57;
                                    }
                                    .grey {
                                        background-color: grey !important;
                                    }
                                    .white {
                                        background-color: #fff;
                                    }
                
                                    .blue {
                                        background-color: #74b9ff;
                                      }
                                    .yellow {
                                        background-color: yellow;
                                    }


                                    .out__of__stock {

                                        height: 42px;
                                        width: 2px;
                                        position: absolute;
                                        transform: rotate(40deg);
                                        z-index: 5;
                                        background-color: gray;
                                        top: -2px;
                                        left: 19px;

                                    }

                                    &:hover {
                                        border: 2px solid black;


                                    }
                                }
                            }
                        }

                        .product__box__size {
                            width: 100%;
                            display: flex;
                            align-items: center;

                            .title__size {
                                display: flex;
                                width: 41%;
                                @include mq(1100) {
                                    width: 45%;    
                                }

                                span {
                                    font-size: 20px;
                                    font-weight: 500;
                                    @include mq(900) {
                                        font-size: 18px;
                                    }
                                    @include mq(800) {
                                        font-size: 17px;
                                    }
                                    @include mq(700) {
                                        font-size: 17px;
                                    }
                                }

                                .title {
                                    color: gray;
                                }

                            }

                            .chose {
                                background-color: black;
                                color: white;
                                @include mq(900) {
                                    font-size: 18px;
                                }
                                @include mq(800) {
                                    font-size: 17px;
                                }
                                @include mq(700) {
                                    font-size: 17px;
                                }
                            }

                            .not__allowed {
                                cursor: not-allowed;
                            }

                            ul {
                                display: flex;
                                margin-top: 10px;
                                margin-bottom: 7px;
                                justify-content: start;
                                direction: ltr;
                                padding: 0px;
                                width: 100%;
                                @include mq(1000) {
                                    margin-left: 20px;
    
                                }
                                @include mq(700) {
                                    margin-left: 0px;
    
                                }
                       


                                .regular2 {
                                    cursor: pointer;

                                    &:hover {
                                        // border: 4px solid #7ed6df;
                                        color: white;
                                        background-color: black;
                                    }

                                }

                                li {
                                    height: 45px;
                                    width: 46px;
                                    /* border: 2px solid grey; */
                                    border-radius: 14px;
                                    margin-left: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 19px;
                                    background-color: #e9ecef;
                                    position: relative;
                                    @include mq(900) {
                                        height: 40px;
                                        width: 42px;
        
                                    }
                                    @include mq(800) {
                                        height: 38px;
                                        width: 40px;
        
                                    }

                                    .out__of__stock {
                                        height: 50px;
                                        width: 2px;
                                        position: absolute;
                                        transform: rotate(50deg);
                                        z-index: 5;
                                        background-color: gray;
                                        top: -3px;
                                        left: 22px;
                                        @include mq(900) {
                                            height: 46px;
                                            left: 20px;

                                        }
                                    }




                                }
                            }
                        }


                    }

                    .guid {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        margin-top: 15px;
                        @include mq(900) {
display: none;        
                        }
                  

                        .icon {
                            margin-left: 5px;
                            height: 50px;
                            width: 55px;
                            filter: grayscale(1);
                            -webkit-transition: all 1s;
                            -moz-transition: all 1s;
                            -ms-transition: all 1s;
                            -o-transition: all 1s;
                            @include mq(800) {
                                height: 45px;
                                width: 50px;

                            }
                        }

                        span {
                            font-size: 17px;
                            font-weight: 500;
                            color: gray;
                            @include mq(900) {
                                font-size: 16px;

                            }
                            @include mq(800) {
                                font-size: 14px;

                            }
                            @include mq(730) {
                                font-size: 13px;

                            }
                        }

                        .size__info {
                            display: flex;
                            
                            margin-right: 42px;
                            align-items: center;
                            flex-direction: column;
                      
                            cursor: pointer;

                            &:hover {
                                .icon {
                                    filter: grayscale(0);

                                }
                            }

                        }

                        .shipping__info {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            margin-right: 42px;
                            cursor: pointer;
                       

                            &:hover {
                                .icon {
                                    filter: grayscale(0);

                                }
                            }


                        }

                        .terms__of__returns {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            cursor: pointer;
                            transition: all 0.5s;

                            &:hover {
                                .icon {
                                    filter: grayscale(0);

                                }
                            }
                        }
                    }

                    .buttons {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        margin-top: 15px;
                        margin-bottom: 10px;

                        .wish__list {
                           margin-left: 15px;
                            cursor: pointer;
                            @include mq(800) {
                                margin-left: 10px;
                                 
                              }

                            .icon {
                                height: 50px;
                                width: 50px;
                                @include mq(800) {
                                    height: 40px;
                                    width: 40px;
                                   
                                }

                            }
                        }
.animation{
    animation: icon__animate2 1s infinite;
                                -webkit-animation: icon__animate2 1s infinite;
                                background-color: $orange !important;

}
                        .add__to__cart {
                            display: flex;
                            align-items: center;
                            background-color: #55efc4;
                            padding: 8px 40px;
                            // border-radius: 21px;
                            position: relative;
                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -ms-transition: all 0.5s;
                            -o-transition: all 0.5s;
                            justify-content: center;

                            cursor: pointer;
                            @include mq(900) {
                                padding: 8px 30px;

                            }
                            @include mq(800) {
                                padding: 7px 20px;

                            }
                            @include mq(700) {
                                flex:1;

                            }

                            &:hover {
                                animation: icon__animate2 1s infinite;
                                -webkit-animation: icon__animate2 1s infinite;
                                background-color: $orange;

                                .pluse {
                                    visibility: visible;
                                }
                            }

                            .icon {
                                margin-left: 10px;
                                height: 35px;
                                width: 35px;
                                @include mq(800) {
                                    height: 30px;
                                width: 30px;
    
                                }
                            }

                            span {
                                font-size: 20px;
                                font-weight: 550;
                                color: $white;
                                @include mq(800) {
                                    font-size: 18px;
    
                                }
                            }

                            .pluse {
                                position: absolute;
                                top: 25px;
                                height: 12px;
                                width: 10px;
                                right: 53px;
                                visibility: hidden;
                                transition: all 0.5s;
                                -webkit-transition: all 0.5s;
                                -moz-transition: all 0.5s;
                                -ms-transition: all 0.5s;
                                -o-transition: all 0.5s;
                                @include mq(900) {
                                    top: 25px;
                                    height: 10px;
                                    width: 9px;
                                    right: 44px;
                                }
                                @include mq(800) {
                                    top: 21px;
                                    height: 9px;
                                    width: 9px;
                                    right: 31px;
                                }

                            }
                        }

                        .out__of__stock {
                            font-size: 20px;
                            font-weight: 500;
                            background-color: #e9ecef;
                            padding: 10px;
                            border-radius: 9px;
                        }

                        .number__product {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: #e9ecef;
                            /* padding: 8px 40px; */
                            width: 83px;
                            height: 51px;
                            margin-right: 2px;
                            direction: ltr;
                            padding: 0px 10px;
                            @include mq(900) {

                            }
                            @include mq(800) {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: #e9ecef;
                                /* padding: 8px 40px; */
                                width: 75px;
                                height: 44px;
                                margin-right: 2px;
                                direction: ltr;
                                padding: 0px 10px;
                            }

                            button {
                                font-size: 30px;
                                color: gray;
                                cursor: pointer;
                                border: 0px;
                                width: 15px;
                                @include mq(700) {
                                    font-size: 27px;

                
                                }

                                &:focus {
                                    outline: 0px;
                                }
                            }

                            .quantity {
                                color: $black;
                                font-size: 25px;
                                cursor: unset;
                                @include mq(800) {
                                  font-size: 22px;
                                   
                                }

                            }
                        }

                    }

                    // .share {
                    //     display: flex;
                    //     align-items: center;
                    //     justify-content: right;
                    //     margin-top: 10px;
                    //     width: 100%;
                    //     margin-top: 27px;
                    //     @include mq(700) {
                    //         margin-bottom: 20px;
                    //         margin-top: 17px;

                    //     }

                    //     span {
                    //         font-size: 18px;
                    //         color: gray;
                    //         font-weight: 500;
                    //         margin-left: 27px;
                    //         margin-right: 34px;
                    //         @include mq(970) {
                    //             margin-right: 4px;
            
                    //         }
                    //         @include mq(894) {
                    //             font-size: 17px;

                    //         }
                    //     }

                    //     .icon1 {
                    //         width: 40px;
                    //         height: 40px;
                    //         filter: grayscale(1);
                    //         margin-left: 5px;
                    //         cursor: pointer;
                    //         transition: all 0.5s;
                    //         -webkit-transition: all 0.5s;
                    //         -moz-transition: all 0.5s;
                    //         -ms-transition: all 0.5s;
                    //         -o-transition: all 0.5s;

                    //         &:hover {
                    //             filter: grayscale(0);
                    //             transform: translate(0, -10px);
                    //         }
                    //     }

                    //     .share {
                    //         display: flex;
                    //         align-items: center;
                    //         justify-content: center;
                    //         margin-top: 10px;

                    //         span {
                    //             font-size: 16px;
                    //             color: gray;
                    //             font-weight: 500;
                    //         }

                    //         .icon1 {
                    //             width: 35px;
                    //             height: 35px;
                    //             filter: grayscale(1);
                    //             margin-left: 5px;
                    //             cursor: pointer;
                    //             transition: all 0.5s;
                    //             -webkit-transition: all 0.5s;
                    //             -moz-transition: all 0.5s;
                    //             -ms-transition: all 0.5s;
                    //             -o-transition: all 0.5s;

                    //             &:hover {
                    //                 filter: grayscale(0);
                    //                 transform: translate(0, -10px);
                    //             }
                    //         }

                    //     }

                    // }

                }


.product-line{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
    // background-color: #666E7B;
    background-color:#E9ECEF;
    display: none;
    @include mq(700) {
        display: flex;

    }
}

                .image__galery__left {
                    // max-width: 443px;
                    max-height:443px !important;
                    width: 48%;
                    margin-top: -35px;
                    @include mq(700) {
                        margin-top: -0px;
                        width: 100%;
                        max-height:calc(100vh) !important;

                    }
               .image-gallery-image{
                // height:443px !important;
                // max-height:443px !important;
                
                max-height:calc(100vh - 90px) !important;
                @include mq(1000) {
                    max-height:calc(100vh) !important;

                }
                @include mq(900) {
                    max-height:calc(100vh ) !important;

                }
                @include mq(700) {
                    width: 100%;
                    max-height:calc(100vh - 200px) !important;

                }
                @include mq(500) {
                    width: 100%;
                    max-height:calc(100vw) !important;

                }
               }
                }
                
                .share {
                    display: flex;
                    align-items: center;
                    direction: ltr;
                    //justify-content: space-around;
                    margin-top: 10px;
                    width: 100%;
                    margin-top: 27px;
            

                    span {
                        font-size: 18px;
                        color: gray;
                        font-weight: 500;
                        margin-left: 30px;
                        margin-right: 15px;
                        
                    
                    }

                    .icon1 {
                        width: 40px;
                        height: 40px;
                        filter: grayscale(1);
                        margin-left: 5px;
                        cursor: pointer;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;

                        &:hover {
                            filter: grayscale(0);
                            transform: translate(0, -10px);
                        }
                    }

                    .share {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 10px;

                        span {
                            font-size: 16px;
                            color: gray;
                            font-weight: 500;
                        }

                        .icon1 {
                            width: 35px;
                            height: 35px;
                            filter: grayscale(1);
                            margin-left: 5px;
                            cursor: pointer;
                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -ms-transition: all 0.5s;
                            -o-transition: all 0.5s;

                            &:hover {
                                filter: grayscale(0);
                                transform: translate(0, -10px);
                            }
                        }

                    }

                }

                .galery {}




            }
        }
    }

    .middle__page {}

    .buttom__page__tabs {
        margin-top: 20px;
        overflow-x: hidden;

        .tabs {

            width: 100%;
            margin-bottom: 10px;
            display: flex;
            direction: ltr;
            background-color: $lightgray2;


            .custom {
                display: flex;
                width: 100%;
                

                .filter__title {
                    cursor: pointer;
                    width: 34%;
                    display: flex;
                    justify-content: start;
                     // background-color: $green;
                    padding: 8px 12px;
                     // border-radius: 7px;
                    align-items: center;
                    border-left: 2px solid gray;
                    @include mq(900) {
                        padding: 5px 8px;
                    }
                    @include mq(700) {
                        padding: 4px 5px;
                    }

                        span {
                            font-size: 19px;
                            font-weight: 500;
                            @include mq(900) {
                                font-size: 17px;
                            }
                            @include mq(700) {
                                font-size: 16px;
                            }
                            @include mq(600) {
                                font-size: 15px;
                            }
                            @include mq(500) {
                                font-size: 14px;
                            }
                            @include mq(450) {
                                font-size: 13px;
                            }
                            @include mq(430) {
                                font-size: 12px;
                            }
                        
                        }

                        .title__icon {
                            height: 35px;
                            width: 35px;
                            margin-right: 8px;
                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -ms-transition: all 0.5s;
                            -o-transition: all 0.5s;
                  
                            @include mq(700) {
                                height: 30px;
                                width: 30px;
                            }
                            @include mq(500) {
                                height: 25px;
                                width: 25px;
                            }
                        }
                    }
            }

            .custom2 {
                display: flex;
                width: 100%;
                text-align: right;

                .collaps {}

                .show {
                    width: 100%;
                    height: 800px;
                }

                .content {
                    direction: ltr;
                    margin-right: 10px;
                    margin-top: 50px;

                    th {
                        font-size: 15px;
                    }
                }


            }



        }
    }



}

.grey{
    background-color: grey;
}
.black-white{
    filter: grayscale(1);

}
