@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';

.blurred {
    filter: blur(1.5px); /* You can adjust the blur amount */
  }
.main__header {
    width: 100%;
    display: flex;
    height: auto;
    @include mq(992) {
        overflow-y: hidden;  // Disable vertical scrolling
        overflow-x: hidden;  // Disable vertical scrolling

    }

    .header__right__slider {
        width: 67%;
        margin-left: 20px;
        @include mq(992) {
            width: 100%;
                  }

        img {
            border-radius: 4px;
            width: 100%;
            height: 380px;
            @include mq(992) {
                height: 280px;
                      }
        }

        .slick-dots {
            position: relative;

            li {
                button {
                    &::before {
                        font-size: 13px;
                        color: grey;
                        position: absolute;
                        top: -61px;
                        left: 0;

                    }
                }
            }
        }
    }

    .header__left__images {
        width: 30%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        @include mq(992) {
            display: none; // Hide when screen width is below 1000px
                  }


    }

        .top__image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;

            .main__pic {
                width: 100%;
                height: 185px;
                border-radius: 4px;

            }

            .effect {
                position: absolute;
                height: 314px;
                width: 30px;
                top: -102px;
                left: -90px;
                transform: rotate(25deg);
                background-color: $white;
                opacity: 0.3;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
            }

            &:hover {
                .effect {

                    top: -36px;
                    left: 383px;

                }
            }
        }

        .buttom__image {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 185px;
                border-radius: 4px;

            }

            .effect {
                position: absolute;
                height: 314px;
                width: 30px;
                top: -102px;
                left: -90px;
                transform: rotate(25deg);
                background-color: $white;
                opacity: 0.3;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
            }

            &:hover {
                .effect {

                    top: -36px;
                    left: 383px;

                }
            }
        }
    }

