@import './../../../scss/variable.scss';


.instagram {
    margin-top: 30px;
    margin-bottom: 20px;

    .salam {
        // display: flex;
        // flex-direction: column;
        // align-items: center;

        .title {
            display: flex;
width: 98.8%;
.top__offer__category{
    color: $black;
    padding: 5px 5px 3px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    direction: ltr;
    margin-bottom: 20px;
    height: 50px;

//     &:hover{
//         .icon{
//             animation: icon__animate 2s infinite;
// -webkit-animation: icon__animate 2s infinite;
//         }
//     }

    .icon{
        height: 35px;
        width: 35px;
        margin-right: 13px;
    }
    .arrow{
        position: absolute;
        height: 30px;
        width: 30px;
        top: 44px;
right: 182px;
visibility: hidden;

    }
}
        }

        .whole__pics {
            display: flex;
            width: 100%;

            .one__pic {
                cursor: pointer;
                position: relative;
                overflow: hidden;
                height: 240px;
                width: 16.5%;
                margin-left: 3px;

                .pic {
                    .main__pic {
                        height: 240px;
                        width: 100%;
                        transition: all 6s ease-in-out 0s;
                        -webkit-transition: all 2s ease-in-out 0s;
                        -moz-transition: all 2s ease-in-out 0s;
                        -ms-transition: all 2s ease-in-out 0s;
                        -o-transition: all 2s ease-in-out 0s;
                        overflow: hidden;
                    }

                    .instagram__icon {
                        position: absolute;
                        width: 82px;
                        height: 76px;
                        top: 183px;
                        right: 60px;
                        z-index: 10;
                        opacity: 0;
                        transition: all 0.6s;

                    }
                }

                &:hover {
                    .main__pic {
                        filter: grayscale(2);
                        transform: scale(1.1);
                    }

                    .instagram__icon {
                        width: 65px;
                        height: 65px;
                        top: 102px;
                        right: 60px;
                        opacity: 1;

                    }
                }
            }
        }

    }
    .lavender2{
        background-color:$lavender2;
      }

      .lavender-strip{

          background: repeating-linear-gradient(
      45deg,         /* Angle of stripes */
      #CFC3FF,       /* Lighter starting color of the stripe */
      #CFC3FF 40px,  /* Lighter width of the stripe */
      #BFB1FF 40px,  /* Slightly darker ending color of the stripe */
      #BFB1FF 60px   /* Total width of two stripes (light + dark) */
    );

      }




}