@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';


.reset{
   margin-left: 16px ;
   align-items: center;
   margin-top: 2px;
    opacity:0.6 ;
    cursor: pointer;
    padding: 0px !important;
    font-size: 14px !important;
    &:hover{
        opacity: 1;
    }
}

.right__search__filters {
    @include mq(900) {
        display: none;
 }
                                               min-width: 219px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // min-width: 219px;
    margin-right: 10px;

    .filter__1__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #ff7675;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;
            
            ul {
                margin-bottom: 7px;
                padding: 0px;

                li {
                    display: flex;
                    align-items: center;
                    justify-self: start;
                    padding: 7px;
                    cursor: pointer;
                    width: 98%;

                    .first__category{
                        font-size: 16px;
                        margin-left: 5px;
                    }

                    .child__categories{
                        font-size: 16px;
                        margin-left: 5px;
                    }
                    .check__box {
                        //margin-left: 9px;

                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
                            background-color: #FDD5BC;

                            img {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                // visibility: hidden;
                            }

                        }
                    }

                    span {
                        font-size: 18px;
                        color: gray;
                        text-align: left;

                    }

                    .arrow {
                        width: 20px;
                        height: 20px;
                        // margin-left: 5px;
                        margin-right: 4px;
                    }

                    .last__category__icon {
                        //transform: rotate(60deg);
                        opacity: 0.7;
                        margin-left: 10px;
                    }

                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                        .check__box {
                            .main__check__box {
                                .check__box__image {
                                    visibility: visible;
                                }
                            }
                        }


                    }
                }

            }
        }
    }

    .filter__2__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;

        .striped-background {
            background: repeating-linear-gradient(
                45deg,  /* Angle of stripes */
                #ececec,  /* Starting color of stripe (darker) */
                #ececec 20px,  /* Width of stripe */
                #f9f9f9 20px,  /* Ending color of stripe (lighter) */
                #f9f9f9 40px   /* Total width of two stripes (dark + light) */
              );
              
            padding: 20px; /* Adjust padding as needed */
            border-radius: 8px; /* Optional: to give rounded corners */
          }
          

        .search__word{
            width: 100%;
            padding: 4px;
            color:grey;
            display: flex;
            text-transform: capitalize;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);

            &:hover {
            }

            .icon__search {
                width: 26px;
                height: 26px;
                margin-left: 5px;
            }
            span{
                font-size: 15px;
                margin-left: 8px;

            }

        }
        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #fdd5bc;
            padding: 9px;
            border-radius: 7px 7px 0px 0px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            direction: ltr;
            justify-content: start;
            align-items: center;

            .search__input {
                width: 160px;
                border: 2px solid gray;
                background-color: beige;
                margin-right: 16px;
            }

            .icon__search {
                width: 35px;
                height: 35px;
                cursor: pointer;
            }

        }
    }


    .filter__10__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: $orange;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
padding: 0px 80px 0px 0px;            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;

            ul {
                margin-bottom: 10px;
                padding: 0px;

                li {
                    display: flex;
                    align-items: center;
                    justify-self: start;
                    width: 98%;
                    padding: 7px;
                    cursor: pointer;

                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;

                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;

                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }


                        }
                    }

                    span {
                        font-size: 14px;
                        color: gray;
                       margin-left: 8px;

                    }

                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                        .check__box {
                            .main__check__box {
                                .check__box__image {
                                    // visibility: visible;
                                }
                            }
                        }


                    }
                }
            }
        }
    }




    .filter__3__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: $green;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
                padding: 0px 65px 0px 0px;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;

            ul {
                margin-bottom: 10px;
                padding: 0px;

                li {
                    display: flex;
                    align-items: center;
                    justify-self: start;
                    width: 98%;
                    padding: 7px;
                    cursor: pointer;

                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;

                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;

                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }


                        }
                    }

                    span {
                        font-size: 14px;
                        color: gray;
                       margin-left: 8px;

                    }

                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                        .check__box {
                            .main__check__box {
                                .check__box__image {
                                    // visibility: visible;
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    .filter__4__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .filter__title {

            display: flex;
            justify-content: start;
            width: 100%;
            background-color: $yellow;
            padding: 9px;
            border-radius: 7px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: $white;
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            display: flex;
            direction: ltr;
            justify-content: start;
            align-items: center;

            .whole__filter__1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                width: 96%;
                cursor: pointer;

                .main__box {
                    width: 47px;
                    height: 25px;
                    border-radius: 13px;
                    margin-right: 9px;
                    border: 1.5px solid gray;
                    position: relative;
                    background: beige;

                    .move__box {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        top: 1.6px;
                        left: 24px;
                        border-radius: 10px;
                        background-color: gray;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;
                    }

                    .left2px {
                        left: 2px;
                    }
                }

                span {
                    font-size: 14px;
                    color: gray;
                }

                &:hover {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                    // .move__box{
                    //     left: 2px;
                    //     background-color: $orange;
                    // }
                }
            }

        }
    }

    .accordion__container__size {
        width: 100%;
        margin-bottom: 10px;
    
        .filter__title {
            cursor:default;
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #CFC3FF;
            padding: 8px 7px;
            border-radius: 7px;
            align-items: center;
    
            span {
                font-size: 16px;
                font-weight: 500;
                color: white;
                padding: 0px 80px 0px 0px;
                cursor: pointer;
            }
    
            .title__icon {
                height: 26px;
                width: 26px;
                margin-left: 3px;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
    
                &.open__accordion {
                    transform: rotate(0deg); /* Rotate when open */
                    margin-right: 10px;
                }
    
                &.close__accordian {
                    transform: rotate(-90deg); /* Default position */
                    margin-right: 10px;
                }
            }
        }
    
        .filter__content {
            margin-right: 6px;
            width: 100%;
    
            ul {
                margin-bottom: 10px;
                padding: 0px;
                display: flex;
                flex-wrap: wrap; /* To allow wrapping for two items per row */
    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 50%; /* Each size will take 50% width */
                    padding: 7px;
                    cursor: pointer;
    
                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;
    
                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
    
                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }
                        }
    
                        &:hover {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
    
                    span {
                        font-size: 14px;
                        color: gray;
                        margin-left: 8px;
                    }
    
                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    

    .accordion__container__brand {
        width: 100%;
        margin-bottom: 10px;
    
        .filter__title {
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #ff9ab7
            ;
            padding: 8px 7px;
            border-radius: 7px;
            align-items: center;
            //cursor: pointer;
            cursor: default;
    
            span {
                font-size: 16px;
                font-weight: 500;
                color: white;
                cursor: pointer;
                padding: 0px 70px 0px 0px
            }
    
            .title__icon {
                height: 26px;
                width: 26px;
                margin-left: 3px;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
    
                &.open__accordion {
                    transform: rotate(0deg); /* Rotate when open */
                    margin-right: 10px;
                }
    
                &.close__accordian {
                    transform: rotate(-90deg); /* Default position */
                    margin-right: 10px;
                }
            }
        }
    
        .filter__content {
            margin-right: 6px;
            width: 100%;
    
            ul {
                margin-bottom: 10px;
                padding: 0px;
                display: flex;
                flex-wrap: wrap; /* To allow wrapping for two items per row */
    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 50%; /* Each size will take 50% width */
                    padding: 7px;
                    cursor: pointer;
    
                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;
    
                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
    
                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }
                        }
    
                        &:hover {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
    
                    span {
                        font-size: 14px;
                        color: gray;
                        margin-left: 8px;
                    }
    
                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    
    .accordion__container__specification {
        width: 100%;
        margin-bottom: 10px;
    
        .filter__title {
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #CFC3FF;
            padding: 8px 7px;
            border-radius: 7px;
            align-items: center;
            cursor: pointer;
    
            span {
                font-size: 16px;
                font-weight: 500;
                color: white;
            }
    
            .title__icon {
                height: 26px;
                width: 26px;
                margin-left: 3px;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
    
                &.open__accordion {
                    transform: rotate(0deg); /* Rotate when open */
                    margin-right: 10px;
                }
    
                &.close__accordian {
                    transform: rotate(-90deg); /* Default position */
                    margin-right: 10px;
                }
            }
        }
    
        .filter__content {
            margin-right: 6px;
            width: 100%;
    
            ul {
                margin-bottom: 10px;
                padding: 0px;
                display: flex;
                flex-wrap: wrap; /* To allow wrapping for two items per row */
    
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 50%; /* Each size will take 50% width */
                    padding: 7px;
                    cursor: pointer;
    
                    .check__box {
                        margin-left: 2px;
                        background-color: #FDD5BC;
    
                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;
    
                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }
                        }
    
                        &:hover {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
    
                    span {
                        font-size: 14px;
                        color: gray;
                        margin-left: 8px;
                    }
    
                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    

    .filter__6__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;

        .accordion {
            width: 100%;

            button {
                width: 100%;
                border: 0px;
                background-color: transparent;

                &:focus {
                    outline: 0px;
                }


                .filter__title {

                    display: flex;
                    justify-content: start;
                    width: 100%;
                    background-color: #FDD5BC;
                    padding: 8px 7px;
                    border-radius: 7px;
                    align-items: center;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        color: $white;
                    }

                    .title__icon {
                        height: 26px;
                        width: 26px;
                        margin-left: 3px;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        cursor: pointer;

                    }

                    .close__accordian {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;

            ul {
                margin-bottom: 10px;

                li {
                    display: flex;
                    align-items: center;
                    justify-self: start;
                    width: 98%;
                    padding: 7px;
                    cursor: pointer;

                    .check__box {
                        margin-left: 9px;
                        background-color: beige;

                        .main__check__box {
                            height: 25px;
                            width: 25px;
                            border: 2px solid gray;
                            border-radius: 5px;
                            position: relative;

                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -7px;
                                left: 3px;
                                visibility: hidden;
                            }


                        }
                    }

                    span {
                        font-size: 14px;
                        color: gray;
                    }

                    &:hover {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

                        .check__box {
                            .main__check__box {
                                .check__box__image {
                                    // visibility: visible;
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    .filter__5__categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;

        .accordion {
            width: 100%;

            button {
                width: 100%;
                border: 0px;
                background-color: transparent;

                &:focus {
                    outline: 0px;
                }


                .filter__title {

                    display: flex;
                    justify-content: start;
                    width: 100%;
                    background-color: #FDD5BC;
                    padding: 8px 12px;
                    border-radius: 7px;
                    align-items: center;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        color: $white;
                    }

                    .title__icon {
                        cursor: pointer;
                        height: 26px;
                        width: 26px;
                        margin-left: 3px;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;

                    }

                    .close__accordian {
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .filter__content {
            margin-right: 6px;
            width: 100%;

            ul {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding: 7px;
                    cursor: pointer;

                    .check__box__color {
                        .main__check__box {
                            height: 30px;
                            width: 30px;
                            border: 2px solid #808080;
                            border-radius: 20px;
                            margin-left: 5px;
                            cursor: pointer;
                            position: relative;

                            .check__box__image {
                                position: absolute;
                                width: 18px;
                                height: 26px;
                                top: -3px;
                                left: 5px;
                                visibility: hidden;
                            }


                        }
                    }

                    span {
                        font-size: 14px;
                        color: gray;
                    }

                    &:hover {

                        .check__box__color {
                            .main__check__box {
                                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);

                                // .check__box__image{
                                //     visibility: visible;
                                //                 }
                            }
                        }


                    }
                }
            }
        }
    }

      .bg-orange {
            background-color: #ff7675 !important;
          }
}
