.bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 5px 0;
  z-index: 1000;
  opacity: 0.9;
  visibility: hidden;
}
@media only screen and (max-width: 900px) {
  .bottom-menu {
    visibility: visible;
  }
}

.menu-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #000;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  padding: 10px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.menu-item .badge {
  position: absolute;
  top: 4px;
  right: 3px;
  font-size: 13px;
  background-color: #747D8C;
}

.menu-icon {
  width: 18px;
  height: 18px;
  margin-bottom: 5px;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.menu-item.active {
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item.active .menu-icon {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

/* Updated account accordion to display in a row above the bottom menu */
.account-accordion {
  position: absolute;
  bottom: 100%; /* Positioned just above the bottom menu */
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4px 0;
  z-index: 999;
  background-color: #f1f2f6;
}
.account-accordion ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around; /* Spacing between list items */
}
.account-accordion ul li {
  padding: 10px 10px; /* Add more padding for better spacing */
  position: relative;
  cursor: pointer;
  /* Add a left border (between the current and previous item) */
  /* Remove the border for the first item */
  /* Remove border for the last item */
}
.account-accordion ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  border-left: 1px solid #ccc; /* Border between items */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.account-accordion ul li:first-child::before {
  border: none;
}
.account-accordion ul li:hover {
  color: white;
  background-color: #747D8C;
}
.account-accordion ul li a, .account-accordion ul li button {
  text-decoration: none;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
}
.account-accordion ul li a:hover, .account-accordion ul li button:hover {
  color: white;
  background-color: #747D8C;
}/*# sourceMappingURL=BottomMenu.css.map */