.button-submit {
  width: 100%;
  background-color: #FF7675;
  border: 0px;
  font-size: 20px;
  margin-bottom: 3px;
}
.button-submit:hover {
  background-color: #666E7B !important;
}

.account-menu {
  position: fixed;
  bottom: -140%; /* Initially hidden below the viewport */
  left: 0;
  right: 0;
  height: 100%; /* Adjust based on your design */
  background-color: white;
  -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; /* Slide-up effect */
  direction: ltr;
  padding: 0px 20px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.account-menu .tab-header-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.account-menu .tab-header-container .write .icon {
  margin-top: 22px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.account-menu .tab-header-container .write .icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-right: 10px;
}
.account-menu .tab-header-container .write .icon ul .star__icon {
  margin-left: 5px;
}
.account-menu .tab-header-container .write .icon ul .star__icon svg {
  width: 22px;
  height: 22px;
  fill: gray;
  cursor: pointer;
}
.account-menu .tab-header-container .write .icon ul .star__icon svg:hover, .account-menu .tab-header-container .write .icon ul .star__icon svg:hover ~ .star__icon svg {
  fill: #feca57;
}
.account-menu .tab-header-container .write .icon ul .star__icon .positive {
  fill: #feca57;
}
.account-menu .tab-header-container .write .icon span {
  font-size: 18px;
  color: gray;
  margin-left: 10px;
}
.account-menu .tab-header-container .write .import__images {
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.account-menu .tab-header-container .write .import__images .upload_photo {
  background-color: #bdc3c7;
  cursor: pointer;
  width: 125px;
  height: 115px;
  font-size: 42px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 21px;
}
.account-menu .tab-header-container .write .import__images .title {
  color: gray;
  font-size: 18px;
  text-align: center;
}
.account-menu .tab-header-container .write .import__images .group__of__upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}
.account-menu .tab-header-container .write .import__images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.account-menu .tab-header-container .write .import__images ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #bdc3c7;
  margin-right: 10px;
  border-radius: 10px;
}
.account-menu .tab-header-container .write .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.account-menu .tab-header-container .write .form-check .form-check-input {
  top: 4px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  top: -5px;
  right: 10px;
  cursor: pointer;
  zoom: 1.5;
}
.account-menu .tab-header-container .write .form-check .form-check-label {
  font-size: 14px !important;
  margin-right: 48px;
}
.account-menu .header {
  padding: 12px;
  color: white;
  border-radius: 10px 10px 0 0;
  position: relative;
  margin-bottom: 28px;
  background: repeating-linear-gradient(45deg, #747D8C, #747D8C 20px, #666e7b 20px, #666e7b 40px) !important;
}
.account-menu .header .close {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 20px;
}
.account-menu .header h2 {
  margin: 0;
  font-size: 22px;
}
.account-menu .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f1f2f6;
  border-bottom: 2px solid #dfe4ea;
}
.account-menu .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 0;
  background-color: #f1f2f6;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  color: #2f3542;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;
}
.account-menu .tab:hover {
  background-color: #747d8c;
  color: white;
}
.account-menu .tab.active {
  background-color: #ff7675;
  color: white;
  border-bottom: 3px solid #ff6b81; /* Active tab with solid border */
}
.account-menu .tab-content-container {
  padding: 12px 20px 20px 20px;
  border: 2px solid #dfe4ea;
  border-top: 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.account-menu .tab-content-container .login_mobile .header-mobile {
  font-weight: bold;
  padding: 10px;
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 20px, #e66564 20px, #e66564 40px) !important;
}
.account-menu .tab-content-container .login_mobile .footerMenu .button-menu {
  background-color: #00B894;
  padding: 7px;
  border: 0px;
  width: 100%;
  color: white;
}
.account-menu .tab-content-container .login_mobile .footerMenu .button-menu:hover {
  background-color: #00996D;
}
.account-menu .tab-content-container .login_mobile .footerMenu .button-menu:active {
  background-color: #5E6672; /* Darker color when clicked */
  -webkit-transform: scale(0.98);
          transform: scale(0.98); /* Slight shrink effect on click */
  -webkit-animation: click-bounce 0.4s ease;
          animation: click-bounce 0.4s ease; /* Apply bounce effect */
}
.account-menu .tab-content {
  font-size: 18px;
  color: #2f3542;
}

/* Visible state when the page is activated */
.account-menu.visible-account {
  bottom: 0px !important; /* Slide-up to show the component */
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; /* Slide-up effect */
}

.yellow-striped {
  background: repeating-linear-gradient(45deg, #FECA57, #FECA57 40px, #F6B93B 40px, #F6B93B 60px);
  color: #333; /* Set a text color that contrasts the background */
}

.yellow {
  background-color: #FECA57;
}

@media only screen and (max-width: 1100px) {
  .disappear {
    display: none !important;
  }
}

.appear {
  display: none !important;
}
@media only screen and (max-width: 1100px) {
  .appear {
    margin-top: 28px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 50px !important;
    padding: 10px !important;
  }
}
@media only screen and (max-width: 900px) {
  .appear {
    height: 46px !important;
  }
}
@media only screen and (max-width: 700px) {
  .appear {
    height: 43px !important;
  }
}
@media only screen and (max-width: 550px) {
  .appear {
    margin-top: 18px;
  }
}

.Toastify__toast-body {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 auto !important;
          flex: 0 auto !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text-area-height {
  height: 90px;
}

.content {
  direction: ltr;
  margin-right: 10px;
  margin-top: 18px;
}
.content .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .comment .top__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.content .comment .top__comment .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .comment .top__comment .result .button {
  position: relative;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}
.content .comment .top__comment .result .button:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background-color: #3A3A3A;
}
.content .comment .top__comment .result .button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 10px 20px white;
          box-shadow: 0 0 10px 20px white;
}
.content .comment .top__comment .result .button:active:after {
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}
.content .comment .top__comment .result .button:active {
  top: 1px;
}
.content .comment .top__comment .result .write2 {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.content .comment .top__comment .result .write2 .icon {
  width: 32px;
  height: 32px;
}
.content .comment .top__comment .result .write2 span {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.content .comment .top__comment .result .text {
  font-size: 25px;
}
@media only screen and (max-width: 550px) {
  .content .comment .top__comment .result .text {
    font-size: 21px;
  }
}
.content .comment .top__comment .result .without__review {
  margin-bottom: 10px;
  color: #bdc3c7;
  font-size: 25px;
  font-weight: 500;
}
@media only screen and (max-width: 550px) {
  .content .comment .top__comment .result .without__review {
    font-size: 21px;
  }
}
.content .comment .top__comment .result .number {
  font-size: 43px;
  font-weight: 500;
}
@media only screen and (max-width: 550px) {
  .content .comment .top__comment .result .number {
    font-size: 35px;
  }
}
.content .comment .top__comment .result .icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
}
.content .comment .top__comment .result .icon ul .star__icon {
  margin-left: 5px;
}
.content .comment .top__comment .result .icon ul .star__icon img {
  width: 22px;
  height: 22px;
}
.content .comment .top__comment .result .icon ul .star__icon svg {
  width: 22px;
  height: 22px;
  fill: gray;
}
.content .comment .top__comment .result .icon ul .star__icon .positive {
  fill: #feca57;
}
.content .comment .top__comment .result .icon .explain__vote {
  margin-right: 10px;
  color: #ff7675;
}
.content .comment .top__comment .result .text2 {
  font-size: 24px;
  color: #bdc3c7;
  font-weight: 500;
  margin-top: 15px;
}
@media only screen and (max-width: 900px) {
  .content .comment .top__comment .result .text2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 700px) {
  .content .comment .top__comment .result .text2 {
    font-size: 21px;
  }
}
@media only screen and (max-width: 550px) {
  .content .comment .top__comment .result .text2 {
    margin-top: 10px;
    font-size: 19px;
  }
}
.content .comment .top__comment .custom__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 550px) {
  .content .comment .top__comment .custom__chart {
    display: none;
  }
}
.content .comment .top__comment .custom__chart .title {
  font-size: 19px;
  margin-right: 25px;
  color: #bdc3c7;
  width: 20%;
}
@media only screen and (max-width: 900px) {
  .content .comment .top__comment .custom__chart .title {
    font-size: 17px;
    margin-right: 18px;
  }
}
@media only screen and (max-width: 700px) {
  .content .comment .top__comment .custom__chart .title {
    font-size: 16px;
    margin-right: 18px;
  }
}
.content .comment .top__comment .custom__chart .diagram {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .comment .top__comment .custom__chart .custom__percent {
  -webkit-animation: fadeIn 3s ease-in-out forwards;
          animation: fadeIn 3s ease-in-out forwards; /* 3 seconds fade-in animation */
  position: relative;
  margin-left: -16px;
  font-size: 16px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #bdc3c7;
  color: white;
  padding: 4px 11px;
}
@media only screen and (max-width: 900px) {
  .content .comment .top__comment .custom__chart .custom__percent {
    width: 10%;
  }
}
@media only screen and (max-width: 700px) {
  .content .comment .top__comment .custom__chart .custom__percent {
    width: 16%;
  }
}
.content .comment .top__comment .custom__chart .custom__percent::before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  right: 7px;
  width: 0;
  height: 0;
  border-top: 17px solid #bdc3c7;
  background-color: #bdc3c7;
  border-right: 17px solid #bdc3c7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -4;
}
.content .comment .top__comment .custom__chart .arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 44px;
  right: 182px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  visibility: visible;
  fill: black;
}
.content .comment .top__comment .custom__chart .custom__progress__bar {
  width: 400px;
  height: 10px;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e9ecef;
}
@media only screen and (max-width: 900px) {
  .content .comment .top__comment .custom__chart .custom__progress__bar {
    width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .content .comment .top__comment .custom__chart .custom__progress__bar {
    width: 200px;
  }
}
.content .comment .top__comment .custom__chart .custom__progress__bar .custom__progress {
  width: 4px;
  height: 10px;
  border-radius: 13px;
  -webkit-transition: width 2s ease-in-out 1s;
  transition: width 2s ease-in-out 1s;
}
.content .comment .top__comment .custom__chart .rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}
.content .comment .top__comment .custom__chart .very__good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}
.content .comment .top__comment .custom__chart .average {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}
.content .comment .top__comment .custom__chart .poor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}
.content .comment .top__comment .custom__chart .terrible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}
.content .comment .top__comment .button {
  position: relative;
  font-size: 16px;
  color: white;
  padding: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}
.content .comment .top__comment .button:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.content .comment .top__comment .button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 10px 20px white;
          box-shadow: 0 0 10px 20px white;
}
.content .comment .top__comment .button:active:after {
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}
.content .comment .top__comment .button:active {
  top: 1px;
}
.content .comment .top__comment .write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 10px 13px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.content .comment .top__comment .write:hover {
  background-color: #3A3A3A;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.content .comment .top__comment .write .icon {
  width: 32px;
  height: 32px;
}
@media only screen and (max-width: 1100px) {
  .content .comment .top__comment .write .icon {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .content .comment .top__comment .write .icon {
    width: 28px;
    height: 28px;
  }
}
@media only screen and (max-width: 700px) {
  .content .comment .top__comment .write .icon {
    width: 26px;
    height: 26px;
  }
}
.content .comment .top__comment .write span {
  font-size: 19px;
  font-weight: 500;
  margin-left: 12px;
}
@media only screen and (max-width: 1100px) {
  .content .comment .top__comment .write span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .content .comment .top__comment .write span {
    font-size: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .content .comment .top__comment .write span {
    font-size: 15px;
    margin-left: 8px;
  }
}
.content .line {
  height: 4px;
  width: 100%;
  margin: 20px 0px;
}
.content .buttom__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .buttom__comment .one__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}
.content .buttom__comment .one__comment .right__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 900px) {
  .content .buttom__comment .one__comment .right__comment {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .content .buttom__comment .one__comment .right__comment {
    margin-right: 16px;
  }
}
.content .buttom__comment .one__comment .right__comment .avatar {
  margin-bottom: 10px;
}
.content .buttom__comment .one__comment .right__comment .avatar .icon {
  width: 60px;
  height: 60px;
}
.content .buttom__comment .one__comment .right__comment .name span {
  font-size: 16px;
  font-weight: 500;
}
.content .buttom__comment .one__comment .right__comment .date {
  text-align: center;
}
.content .buttom__comment .one__comment .right__comment .date span {
  font-size: 15px;
  color: silver;
}
.content .buttom__comment .one__comment .left__comment {
  background-color: #1abc9c;
  padding: 10px 30px;
  width: 55%;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .content .buttom__comment .one__comment .left__comment {
    width: 65%;
  }
}
@media only screen and (max-width: 800px) {
  .content .buttom__comment .one__comment .left__comment {
    width: 73%;
  }
}
@media only screen and (max-width: 700px) {
  .content .buttom__comment .one__comment .left__comment {
    padding: 10px 20px;
  }
}
.content .buttom__comment .one__comment .left__comment::before {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: -32px;
  width: 0;
  height: 0;
  border-top: 17px solid white;
  background-color: #1abc9c;
  border-right: 34px solid transparent;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.content .buttom__comment .one__comment .left__comment .top__left__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 700px) {
  .content .buttom__comment .one__comment .left__comment .top__left__comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.content .buttom__comment .one__comment .left__comment .stars {
  margin-left: 20px;
}
@media only screen and (max-width: 700px) {
  .content .buttom__comment .one__comment .left__comment .stars {
    margin-left: 0px;
    margin-bottom: 8px;
  }
}
.content .buttom__comment .one__comment .left__comment .stars ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
}
.content .buttom__comment .one__comment .left__comment .stars ul .star__icon svg {
  width: 17px;
  height: 17px;
  fill: gray;
}
.content .buttom__comment .one__comment .left__comment .stars ul .star__icon .positive {
  fill: #fff;
}
.content .buttom__comment .one__comment .left__comment .stars ul .star__icon:not(:first-child) {
  margin-left: 5px;
}
.content .buttom__comment .one__comment .left__comment .title span {
  font-size: 17px;
  color: white;
  text-align: left;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .content .buttom__comment .one__comment .left__comment .title span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .content .buttom__comment .one__comment .left__comment .title span {
    font-size: 15px;
  }
}
.content .buttom__comment .one__comment .left__comment .buttom__left__comment {
  text-align: left;
}
.content .buttom__comment .one__comment .left__comment .buttom__left__comment span {
  font-size: 16px;
  color: white;
}
@media only screen and (max-width: 900px) {
  .content .buttom__comment .one__comment .left__comment .buttom__left__comment span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .content .buttom__comment .one__comment .left__comment .buttom__left__comment span {
    font-size: 14px;
  }
}
.content .buttom__comment .one__comment .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
.content .buttom__comment .one__comment .images img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}
.content .buttom__comment .one__comment .line {
  height: 2px;
  width: 100%;
  background-color: #ff7675;
  margin: 20px 0px;
}

.write__review__modal div {
  direction: ltr;
}
.write__review__modal .modal-content {
  position: absolute !important;
  top: 63px;
}
.write__review__modal .modal-content .success__write .modal-header {
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 40px, #e66564 40px, #e66564 60px);
}
.write__review__modal .modal-content .success__write .modal-header .modal-title {
  font-size: 22px !important;
  margin-right: 16px;
}
.write__review__modal .modal-content .success__write .modal-header .close {
  color: #ffeaa7 !important;
  position: absolute;
  left: 5px;
  font-size: 34px;
}
.write__review__modal .modal-content .success__write .modal-body {
  text-align: center;
  padding: 50px 15px;
}
.write__review__modal .modal-content .success__write .modal-body span {
  font-size: 20px;
  color: gray;
  text-align: center;
}
.write__review__modal .modal-content .success__write .modal-body div {
  font-size: 20px;
  color: gray;
  text-align: center;
}
.write__review__modal .modal-content .success__write .modal-footer {
  background: repeating-linear-gradient(45deg, #747D8C, #747D8C 40px, #666e7b 40px, #666e7b 60px) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.write__review__modal .modal-content .success__write .modal-footer .btn-secondary {
  background-color: #ffeaa7 !important;
  color: #000;
  border: 0px;
}
.write__review__modal .modal-content .success__write .modal-footer .btn-primary {
  background-color: #ff7675;
  border: 0px;
  width: 200px;
  -webkit-transition: border-radius 0.5s ease-in-out;
  transition: border-radius 0.5s ease-in-out;
}
.write__review__modal .modal-content .success__write .modal-footer .btn-primary:hover {
  background-color: #E65B5B;
}
.write__review__modal .modal-content .write .modal-header {
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 40px, #e66564 40px, #e66564 60px);
}
.write__review__modal .modal-content .write .modal-header .modal-title {
  font-size: 22px !important;
  margin-right: 16px;
}
.write__review__modal .modal-content .write .modal-header .close {
  color: #ffeaa7 !important;
  position: absolute;
  left: 5px;
  font-size: 34px;
}
.write__review__modal .modal-content .write .modal-body .icon {
  margin-top: 22px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.write__review__modal .modal-content .write .modal-body .icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-right: 10px;
}
.write__review__modal .modal-content .write .modal-body .icon ul .star__icon {
  margin-left: 5px;
}
.write__review__modal .modal-content .write .modal-body .icon ul .star__icon svg {
  width: 22px;
  height: 22px;
  fill: gray;
  cursor: pointer;
}
.write__review__modal .modal-content .write .modal-body .icon ul .star__icon svg:hover, .write__review__modal .modal-content .write .modal-body .icon ul .star__icon svg:hover ~ .star__icon svg {
  fill: #feca57;
}
.write__review__modal .modal-content .write .modal-body .icon ul .star__icon .positive {
  fill: #feca57;
}
.write__review__modal .modal-content .write .modal-body .icon span {
  font-size: 18px;
  color: gray;
  margin-left: 10px;
}
.write__review__modal .modal-content .write .modal-body .import__images {
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.write__review__modal .modal-content .write .modal-body .import__images .upload_photo {
  background-color: #bdc3c7;
  cursor: pointer;
  width: 125px;
  height: 115px;
  font-size: 42px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 21px;
}
.write__review__modal .modal-content .write .modal-body .import__images .title {
  color: gray;
  font-size: 18px;
  text-align: center;
}
.write__review__modal .modal-content .write .modal-body .import__images .group__of__upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}
.write__review__modal .modal-content .write .modal-body .import__images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.write__review__modal .modal-content .write .modal-body .import__images ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #bdc3c7;
  margin-right: 10px;
  border-radius: 10px;
}
.write__review__modal .modal-content .write .modal-body .form-row {
  margin-bottom: 20px;
}
.write__review__modal .modal-content .write .modal-body .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.write__review__modal .modal-content .write .modal-body .form-check .form-check-input {
  top: 4px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  top: -5px;
  right: 10px;
  cursor: pointer;
  zoom: 1.5;
}
.write__review__modal .modal-content .write .modal-body .form-check .form-check-label {
  font-size: 14px !important;
  margin-right: 48px;
}
.write__review__modal .modal-content .write .modal-footer {
  background-color: #747D8C;
}
.write__review__modal .modal-content .write .modal-footer .btn-secondary {
  background-color: #ffeaa7 !important;
  color: #000;
  border: 0px;
}
.write__review__modal .modal-content .write .modal-footer .btn-primary {
  background-color: #ff7675;
  border: 0px;
  width: 200px;
}
.write__review__modal .modal-content .write .modal-footer .btn-primary:hover {
  background-color: #E65B5B;
}

/* Add this CSS */
.blur-background {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.button {
  position: relative;
  font-size: 16px;
  color: white;
  padding: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 10px 20px white;
          box-shadow: 0 0 10px 20px white;
}

.button:active:after {
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.button:active {
  top: 1px;
}/*# sourceMappingURL=comment.css.map */