@-webkit-keyframes phone__animate {
  0% {
    -webkit-transform: rotate(120deg) scale(1);
            transform: rotate(120deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(240deg) scale(1);
            transform: rotate(240deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes phone__animate {
  0% {
    -webkit-transform: rotate(120deg) scale(1);
            transform: rotate(120deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(240deg) scale(1);
            transform: rotate(240deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.blurred {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px); /* You can adjust the blur amount */
}

.mainfooter {
  background-color: #ff7675;
  padding: 30px 0px 15px 0px;
}
.mainfooter .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mainfooter .footer__top .footer__top__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainfooter .footer__top .footer__top__image img {
  height: 72px;
  width: 72px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__top .footer__top__image img {
    height: 65px;
    width: 65px;
  }
}
@media only screen and (max-width: 600px) {
  .mainfooter .footer__top .footer__top__image img {
    height: 55px;
    width: 55px;
  }
}
@media only screen and (max-width: 100px) {
  .mainfooter .footer__top .footer__top__image img {
    height: 72px;
    width: 72px;
  }
}
@media only screen and (max-width: 850px) {
  .mainfooter .footer__top .footer__top__image .large-tile {
    display: none;
  }
}
.mainfooter .footer__top .footer__top__image .little-tile {
  display: none;
}
@media only screen and (max-width: 850px) {
  .mainfooter .footer__top .footer__top__image .little-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mainfooter .footer__top .footer__top__image > span {
  margin-top: 13px;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__top .footer__top__image > span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__top .footer__top__image > span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  .mainfooter .footer__top .footer__top__image > span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .mainfooter .footer__top .footer__top__image > span {
    font-size: 13px;
  }
}
@media only screen and (max-width: 100px) {
  .mainfooter .footer__top .footer__top__image > span {
    font-size: 15px;
  }
}
.mainfooter .footer__middle {
  padding: 0px 0px 5px 0px;
  direction: ltr;
}
.mainfooter .footer__middle .footer__middle__main {
  margin-bottom: -5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  direction: ltr;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right {
  width: 62%;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right {
    width: 68%;
  }
}
@media only screen and (max-width: 850px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right {
    width: 69%;
  }
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right {
    width: 65%;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  width: 96%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (max-width: 600px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul .third-column {
    display: none !important;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .footer_title {
  font-weight: 500;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .footer_title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 780px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .footer_title {
    font-size: 13px;
  }
}
@media only screen and (max-width: 660px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .footer_title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .footer_title {
    font-size: 11px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li span {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  font-size: 15px;
  margin-left: 7px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 0px;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li span::before {
  content: "";
  height: 23px;
  width: 30px;
  position: absolute;
  background-size: 19px;
  margin-top: 2px;
  margin-right: -38px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 8px;
  padding: 0;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 850px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item {
    margin-top: 7px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item:hover .subcat-image {
  scale: 1.1;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item:hover .text {
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0); /* Moves the span 5px up using translate3d */
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .text {
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  will-change: transform; /* Inform the browser in advance */
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 850px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .text {
    font-size: 13px;
  }
}
@media only screen and (max-width: 780px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .text {
    font-size: 11px;
  }
}
@media only screen and (max-width: 450px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .text {
    font-size: 10px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .subcat-image {
  width: 15px;
  height: 15px;
  margin-right: 9px;
  z-index: 2; /* Keep the image on top of the circle */
  position: relative;
}
@media only screen and (max-width: 850px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .subcat-image {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 780px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .subcat-image {
    margin-right: 2px;
  }
}
@media only screen and (max-width: 660px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .subcat-image {
    margin-right: 0px;
    width: 10px;
    height: 10px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li ul li {
  margin-top: 13px;
  cursor: pointer;
  font-size: 14px;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left {
  width: 27%;
}
@media only screen and (max-width: 850px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (max-width: 600px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left {
    width: 31%;
  }
}
@media only screen and (max-width: 650px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first .larg-follow {
    display: none;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first .little-follow {
  display: none;
}
@media only screen and (max-width: 650px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first .little-follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first > span {
  font-size: 17px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first > span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 900px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first > span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first > span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 10px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first > span {
    font-size: 13px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  direction: ltr;
  padding: 0px;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li {
  margin-top: 14px;
  list-style-type: none;
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li {
    margin-top: 11px;
  }
}
@media only screen and (max-width: 700px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 450px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li {
    margin-top: 4px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
  width: 34px;
  height: 34px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
    width: 27px;
    height: 27px;
  }
}
@media only screen and (max-width: 600px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 550px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
    width: 23px;
    height: 23px;
  }
}
@media only screen and (max-width: 450px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
    width: 21px;
    height: 21px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .icon__image img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .icon__image img {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 600px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .icon__image img {
    width: 31px;
    height: 31px;
  }
}
@media only screen and (max-width: 500px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .icon__image img {
    width: 28px;
    height: 28px;
  }
}
@media only screen and (max-width: 450px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .icon__image img {
    width: 27px;
    height: 27px;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .phone__number {
  font-size: 15px;
  margin-left: 12px;
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .phone__number {
    font-size: 13px;
  }
}
@media only screen and (max-width: 700px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .phone__number {
    font-size: 12px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .phone__number {
    font-size: 11px;
    margin-left: 12px;
  }
}
@media only screen and (max-width: 450px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .phone__number {
    font-size: 10px;
    margin-left: 9px;
  }
}
.mainfooter .footer__bottom .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  direction: ltr;
}
.mainfooter .footer__bottom .footer__info .developer__name {
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px; /* Adjust spacing between name and title */
}
.mainfooter .footer__bottom .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}
.mainfooter .footer__bottom .footer__info .developer__name {
  font-size: 15px;
  cursor: pointer;
}/*# sourceMappingURL=footer.css.map */