@-webkit-keyframes phone__animate {
  0% {
    -webkit-transform: rotate(120deg) scale(1);
            transform: rotate(120deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(240deg) scale(1);
            transform: rotate(240deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes phone__animate {
  0% {
    -webkit-transform: rotate(120deg) scale(1);
            transform: rotate(120deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(240deg) scale(1);
            transform: rotate(240deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.blurred {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px); /* You can adjust the blur amount */
}

.mainfooter {
  background-color: #ff7675;
  padding: 30px 0px 15px 0px;
}
.mainfooter .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
@media only screen and (max-width: 520px) {
  .mainfooter .footer__top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 520px) {
  .mainfooter .footer__top .image3 {
    display: none !important;
  }
}
@media only screen and (max-width: 780px) {
  .mainfooter .footer__top .image4 {
    display: none !important;
  }
}
.mainfooter .footer__top .footer__top__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 999px) {
  .mainfooter .footer__top .footer__top__image {
    width: 25%;
  }
}
@media only screen and (max-width: 780px) {
  .mainfooter .footer__top .footer__top__image {
    width: 30%;
  }
}
@media only screen and (max-width: 520px) {
  .mainfooter .footer__top .footer__top__image {
    width: 45%;
  }
}
.mainfooter .footer__top .footer__top__image img {
  height: 74px;
  width: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainfooter .footer__top .footer__top__image > span {
  margin-top: 13px;
  font-size: 17px;
  text-align: center;
  font-weight: 500;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__top .footer__top__image > span {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 780px) {
  .mainfooter .footer__top .footer__top__image > span {
    margin-left: 0px;
  }
}
.mainfooter .footer__middle {
  padding: 0px 0px 5px 0px;
  direction: ltr;
}
@media only screen and (max-width: 765px) {
  .mainfooter .footer__middle {
    padding: 0px;
  }
}
.mainfooter .footer__middle .footer__middle__main {
  margin-bottom: -5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: ltr;
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right {
  width: 60%;
}
@media only screen and (max-width: 992px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right {
    width: 64%;
  }
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right {
    width: 100%;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  width: 96%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li span {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  font-size: 15px;
  margin-left: 7px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 0px;
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li span {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 685px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li span {
    margin-right: 24px;
  }
}
@media only screen and (max-width: 520px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li span {
    width: 40%;
    text-align: right;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li span::before {
  content: "";
  height: 23px;
  width: 30px;
  position: absolute;
  background-size: 19px;
  margin-top: 2px;
  margin-right: -38px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 8px;
  padding: 0;
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 75%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 800px) and (max-width: 686px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 800px) and (max-width: 550px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat {
    width: 65%;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item:hover .subcat-image {
  scale: 1.1;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item:hover .text {
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0); /* Moves the span 5px up using translate3d */
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .text {
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  will-change: transform; /* Inform the browser in advance */
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li .sub_cat li.hover-item .subcat-image {
  width: 15px;
  height: 15px;
  margin-right: 9px;
  z-index: 2; /* Keep the image on top of the circle */
  position: relative;
}
@media only screen and (max-width: 686px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li ul .third {
    display: none !important;
  }
}
@media only screen and (max-width: 520px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li ul .second {
    display: none !important;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__right > ul > li ul li {
  margin-top: 13px;
  cursor: pointer;
  font-size: 14px;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left {
  width: 29%;
}
@media only screen and (max-width: 992px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left {
    width: 27%;
  }
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left {
    width: 100%;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first > span {
  font-size: 17px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: ltr;
}
@media only screen and (max-width: 800px) {
  .mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul {
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li {
  margin-top: 14px;
  list-style-type: none;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__first ul li img {
  width: 34px;
  height: 34px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .icon__image img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.mainfooter .footer__middle .footer__middle__main .footer__middle__left .footer__middle__left__second .phone__number {
  font-size: 15px;
  margin-left: 12px;
}
@media only screen and (max-width: 1000px) {
  .mainfooter .footer__middle .line {
    margin-top: 2rem;
  }
}
.mainfooter .footer__bottom .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  direction: ltr;
}
.mainfooter .footer__bottom .footer__info .developer__name {
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px; /* Adjust spacing between name and title */
}
.mainfooter .footer__bottom .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}
.mainfooter .footer__bottom .footer__info .developer__name {
  font-size: 15px;
  cursor: pointer;
}/*# sourceMappingURL=footer.css.map */