@-webkit-keyframes trash__animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes trash__animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.striped-background-red {
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 10px, #e66564 10px, #e66564 20px);
}

.container-special {
  direction: rtl;
  padding: 0 15px;
  max-width: clamp(400px, 100%, 1100px); /* This will grow between 500px and 1300px */
  margin: auto;
}

header {
  background-color: #ff7675;
}
header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}
@media only screen and (max-width: 768px) {
  header .header__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media only screen and (max-width: 500px) {
  header .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
  }
}
header .header__content .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 900px) {
  header .header__content .header__left {
    width: 100%;
  }
}
header .header__content .header__left .logo {
  margin-left: 13px;
}
@media only screen and (max-width: 1000px) {
  header .header__content .header__left .logo {
    display: none;
  }
}
header .header__content .header__left .logo a {
  width: 80px;
  display: inline-block;
}
header .header__content .header__left .logo a img {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 815px) {
  header .header__content .header__left .logo a img {
    display: none;
  }
}
header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register__modal div {
  direction: ltr;
}
.register__modal .modal-content {
  position: absolute !important;
  top: 63px;
}
.register__modal .modal-content .register .modal-header {
  height: 60px;
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 20px, #e66564 20px, #e66564 40px) !important;
}
.register__modal .modal-content .register .modal-header .modal-title {
  font-size: 22px !important;
  margin-right: 16px;
}
.register__modal .modal-content .register .modal-header .close {
  color: #ffeaa7 !important;
  position: absolute;
  left: 5px;
  font-size: 34px;
}
.register__modal .modal-content .register .modal-body .form-row {
  margin-bottom: 20px;
}
.register__modal .modal-content .register .modal-body .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.register__modal .modal-content .register .modal-body .form-check .form-check-input {
  top: 4px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  top: -5px;
  right: 10px;
  cursor: pointer;
  zoom: 1.5;
}
.register__modal .modal-content .register .modal-body .form-check .form-check-label {
  font-size: 14px !important;
  margin-right: 48px;
}
.register__modal .modal-content .register .modal-footer {
  background-color: #81ecec;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.register__modal .modal-content .register .modal-footer .btn-secondary {
  background-color: #FDD5BC !important;
  color: #000;
  border: 0px;
}
.register__modal .modal-content .register .modal-footer .btn-secondary:hover {
  background-color: #e6bfa6;
}
.register__modal .modal-content .register .modal-footer .btn-primary {
  background-color: #ff7675;
  border: 0px;
  width: 200px;
}
.register__modal .modal-content .register .modal-footer .btn-primary:hover {
  background-color: #e65c5b;
}
.register__modal .modal-content .success__register .modal-header {
  height: 60px;
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 20px, #e66564 20px, #e66564 40px) !important;
}
.register__modal .modal-content .success__register .modal-header .modal-title {
  font-size: 22px !important;
  margin-right: 16px;
}
.register__modal .modal-content .success__register .modal-header .close {
  color: #ffeaa7 !important;
  position: absolute;
  left: 5px;
  font-size: 34px;
}
.register__modal .modal-content .success__register .modal-body div {
  font-size: 24px;
}
.register__modal .modal-content .success__register .modal-body .name {
  text-align: right;
}
.register__modal .modal-content .success__register .modal-body .welcom {
  text-align: center;
}
.register__modal .modal-content .success__register .modal-footer {
  background-color: #81ecec;
}
.register__modal .modal-content .success__register .modal-footer .btn-secondary {
  background-color: #ffeaa7 !important;
  color: #000;
  border: 0px;
}
.register__modal .modal-content .success__register .modal-footer .btn-primary {
  background-color: #ff7675;
  border: 0px;
  width: 200px;
}

.login__modal div {
  direction: ltr;
}
.login__modal .modal-content {
  position: absolute !important;
  top: 63px;
}
.login__modal .modal-content .login .modal-header {
  height: 60px;
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 20px, #e66564 20px, #e66564 40px) !important;
}
.login__modal .modal-content .login .modal-header .modal-title {
  font-size: 22px !important;
  margin-right: 16px;
}
.login__modal .modal-content .login .modal-header .close {
  color: #ffeaa7 !important;
  position: absolute;
  left: 5px;
  font-size: 34px;
}
.login__modal .modal-content .login .modal-body .form-row {
  margin-bottom: 20px;
}
.login__modal .modal-content .login .modal-body .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.login__modal .modal-content .login .modal-body .form-check .form-check-input {
  top: 4px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  top: -5px;
  right: 10px;
  cursor: pointer;
  zoom: 1.5;
}
.login__modal .modal-content .login .modal-body .form-check .form-check-label {
  font-size: 14px !important;
  margin-right: 48px;
}
.login__modal .modal-content .login .modal-footer {
  background-color: #81ecec;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.login__modal .modal-content .login .modal-footer .btn-secondary {
  background-color: #FDD5BC !important;
  color: #000;
  border: 0px;
}
.login__modal .modal-content .login .modal-footer .btn-secondary:hover {
  background-color: #e6bfa6;
}
.login__modal .modal-content .login .modal-footer .btn-primary {
  background-color: #ff7675;
  border: 0px;
  width: 200px;
}
.login__modal .modal-content .login .modal-footer .btn-primary:hover {
  background-color: #e65c5b;
}
.login__modal .modal-content .success__login .modal-header {
  height: 60px;
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 20px, #e66564 20px, #e66564 40px) !important;
}
.login__modal .modal-content .success__login .modal-header .modal-title {
  font-size: 22px !important;
  margin-right: 16px;
}
.login__modal .modal-content .success__login .modal-header .close {
  color: #ffeaa7 !important;
  position: absolute;
  left: 5px;
  font-size: 34px;
}
.login__modal .modal-content .success__login .modal-body div {
  font-size: 24px;
}
.login__modal .modal-content .success__login .modal-body .name {
  text-align: right;
}
.login__modal .modal-content .success__login .modal-body .welcom {
  text-align: center;
}
.login__modal .modal-content .success__login .modal-footer {
  background-color: #81ecec;
}
.login__modal .modal-content .success__login .modal-footer .btn-secondary {
  background-color: #ffeaa7 !important;
  color: #000;
  border: 0px;
}
.login__modal .modal-content .success__login .modal-footer .btn-primary {
  background-color: #ff7675;
  border: 0px;
  width: 200px;
}/*# sourceMappingURL=header.css.map */