.instagram {
  margin-top: 30px;
  margin-bottom: 20px;
}
.instagram .salam .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98.8%;
}
.instagram .salam .top__offer__category {
  color: #000;
  padding: 5px 5px 3px 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  direction: ltr;
  margin-bottom: 20px;
  height: 50px;
}
@media only screen and (max-width: 1200px) {
  .instagram .salam .top__offer__category {
    padding: 5px 5px 3px 10px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .instagram .salam .top__offer__category {
    font-size: 17px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .instagram .salam .top__offer__category {
    font-size: 17px;
  }
}
@media only screen and (max-width: 600px) {
  .instagram .salam .top__offer__category {
    padding: 2px 2px 3px 6px;
    font-size: 16px;
    height: 42px;
  }
}
@media only screen and (max-width: 480px) {
  .instagram .salam .top__offer__category {
    padding: 0px;
    font-size: 15px;
    height: 38px;
  }
}
.instagram .salam .top__offer__category .icon {
  height: 38px;
  width: 38px;
  margin-right: 13px;
}
@media only screen and (max-width: 600px) {
  .instagram .salam .top__offer__category .icon {
    height: 32px;
    width: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .instagram .salam .top__offer__category .icon {
    height: 27px;
    width: 27px;
  }
}
.instagram .salam .top__offer__category .arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 44px;
  right: 182px;
  visibility: hidden;
}
.instagram .salam .whole__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.instagram .salam .whole__pics .one__pic {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 240px;
  width: 16.2%;
  margin-left: 3px;
}
@media only screen and (max-width: 900px) {
  .instagram .salam .whole__pics .one__pic {
    width: 16.2%;
  }
}
@media only screen and (max-width: 800px) {
  .instagram .salam .whole__pics .one__pic {
    height: 220px;
    width: 19.4%;
  }
}
@media only screen and (max-width: 700px) {
  .instagram .salam .whole__pics .one__pic {
    width: 24.3%;
  }
}
@media only screen and (max-width: 600px) {
  .instagram .salam .whole__pics .one__pic {
    height: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .instagram .salam .whole__pics .one__pic {
    height: 180px;
  }
}
@media only screen and (max-width: 450px) {
  .instagram .salam .whole__pics .one__pic {
    height: 155px;
  }
}
@media only screen and (max-width: 410px) {
  .instagram .salam .whole__pics .one__pic {
    height: 130px;
  }
}
.instagram .salam .whole__pics .one__pic .pic .main__pic {
  height: 240px;
  width: 100%;
  -webkit-transition: all 6s ease-in-out 0s;
  transition: all 6s ease-in-out 0s;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  -ms-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .instagram .salam .whole__pics .one__pic .pic .main__pic {
    height: 220px;
  }
}
@media only screen and (max-width: 600px) {
  .instagram .salam .whole__pics .one__pic .pic .main__pic {
    height: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .instagram .salam .whole__pics .one__pic .pic .main__pic {
    height: 180px;
  }
}
@media only screen and (max-width: 450px) {
  .instagram .salam .whole__pics .one__pic .pic .main__pic {
    height: 155px;
  }
}
@media only screen and (max-width: 410px) {
  .instagram .salam .whole__pics .one__pic .pic .main__pic {
    height: 130px;
  }
}
.instagram .salam .whole__pics .one__pic .pic .instagram__icon {
  position: absolute;
  width: 82px;
  height: 76px;
  top: 183px;
  right: 60px;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.instagram .salam .whole__pics .one__pic:hover .main__pic {
  -webkit-filter: grayscale(2);
          filter: grayscale(2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.instagram .salam .whole__pics .one__pic:hover .instagram__icon {
  width: 65px;
  height: 65px;
  top: 102px;
  right: 60px;
  opacity: 1;
}
@media only screen and (max-width: 800px) {
  .instagram .salam .whole__pics .pic6 {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .instagram .salam .whole__pics .pic5 {
    display: none;
  }
}
.instagram .lavender2 {
  background-color: #CFC3FF;
}
.instagram .lavender-strip {
  background: repeating-linear-gradient(45deg, #CFC3FF, #CFC3FF 40px, #BFB1FF 40px, #BFB1FF 60px);
}/*# sourceMappingURL=instagram.css.map */