.enire__image {
  width: 200px;
  height: 200px;
}

.mobile-menu-cat {
  overflow-y: auto; /* Enable vertical scrolling if needed */
  font-family: system-ui !important;
  position: fixed;
  bottom: -140%; /* Initially hidden below the viewport */
  left: 0;
  right: 0;
  height: 90%; /* Adjust based on your design */
  background-color: white;
  -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; /* Slide-up effect */
  direction: ltr;
  padding: 0px 20px;
  z-index: 1000;
  width: 50%;
}
@media only screen and (max-width: 650px) {
  .mobile-menu-cat {
    width: 60%;
  }
}
@media only screen and (max-width: 500px) {
  .mobile-menu-cat {
    width: 65%;
  }
}
@media only screen and (max-width: 430px) {
  .mobile-menu-cat {
    width: 70%;
  }
}
.mobile-menu-cat .details-one-category {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease; /* Smooth transition */
  -webkit-transform: translateX(100%);
          transform: translateX(100%); /* Initially off-screen to the right */
}
.mobile-menu-cat .details-one-category .header-category-title {
  width: 100%;
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding: 15px 10px 25px 10px;
}
.mobile-menu-cat .details-one-category .header-category-title span {
  width: 80%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 600px) {
  .mobile-menu-cat .details-one-category .header-category-title span {
    font-size: 16px;
  }
}
.mobile-menu-cat .details-one-category .header-category-title img {
  width: 20%;
  width: 27px;
  height: 27px;
}
.mobile-menu-cat .details-one-category .header-category {
  width: 100%;
  background-color: #EFEFEF;
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 550px) {
  .mobile-menu-cat .details-one-category .header-category {
    height: 40px;
  }
}
.mobile-menu-cat .details-one-category .header-category span {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 550px) {
  .mobile-menu-cat .details-one-category .header-category span {
    font-size: 15px;
  }
}
.mobile-menu-cat .details-one-category .mobile-menu-categories {
  background-color: #EFEFEF;
  padding: 10px 25px;
  display: grid;
  grid-template-columns: 50% 50%; /* Two columns with equal width */
  gap: 10px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  /* Remove border from last row (last two items since it's a grid with 2 columns) */
}
@media only screen and (max-width: 800px) {
  .mobile-menu-cat .details-one-category .mobile-menu-categories {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 750px) {
  .mobile-menu-cat .details-one-category .mobile-menu-categories {
    padding: 10px 12px;
  }
}
@media only screen and (max-width: 650px) {
  .mobile-menu-cat .details-one-category .mobile-menu-categories {
    grid-template-columns: 100%; /* Two columns with equal width */
  }
}
.mobile-menu-cat .details-one-category .mobile-menu-categories .sub__title {
  text-decoration: none;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 7px;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .mobile-menu-cat .details-one-category .mobile-menu-categories .sub__title .border-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #ccc;
    height: 0.5px;
    width: 100%;
  }
}
.mobile-menu-cat .details-one-category .mobile-menu-categories .sub__title span {
  font-size: 14px;
  color: black;
}
.mobile-menu-cat .details-one-category .mobile-menu-categories .sub__title .category-pic {
  width: 50px;
  height: 50px;
  border-radius: 28px;
  border: 2px solid white;
  padding: 2px;
  margin-right: 9px;
}
@media only screen and (max-width: 750px) {
  .mobile-menu-cat .details-one-category .mobile-menu-categories .sub__title .category-pic {
    margin-right: 12px;
  }
}
.mobile-menu-cat .details-one-category .mobile-menu-categories .sub__title .sub__title:last-child {
  border-bottom: none !important; /* Remove border for the last item */
}
.mobile-menu-cat .details-one-category .mobile-menu-ocasions {
  background-color: #EFEFEF;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 50% 50%; /* Two columns with equal width */
  gap: 10px 10px; /* 30px between rows, 20px between columns */
  margin-top: 10px;
  margin-bottom: 15px;
}
.mobile-menu-cat .details-one-category .mobile-menu-ocasions .image-container {
  text-decoration: none;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu-cat .details-one-category .mobile-menu-ocasions .image-container span {
  font-size: 16px;
  color: black;
}
.mobile-menu-cat .details-one-category .mobile-menu-ocasions .image-container .circle-image {
  margin-bottom: 7px;
  width: 100px;
  height: 100px;
  border-radius: 49px;
  border: 2px solid white;
  padding: 2px;
  margin-right: 8px;
}
@media only screen and (max-width: 400px) {
  .mobile-menu-cat .details-one-category .mobile-menu-ocasions .image-container .circle-image {
    width: 80px;
    height: 80px;
  }
}
.mobile-menu-cat .shift-left-category {
  -webkit-transform: translateX(-120%) !important;
          transform: translateX(-120%) !important; /* Slide content to the left */
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.mobile-menu-cat .shift-left-details {
  -webkit-transform: translateX(0);
          transform: translateX(0); /* Slide content to the left */
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.mobile-menu-cat .category-container {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease; /* Smooth transition */
  -webkit-transform: translateX(0);
          transform: translateX(0); /* Initially off-screen to the right */
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.mobile-menu-cat .category-container .one-mobile-category {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.mobile-menu-cat .category-container .one-mobile-category .category-line {
  position: absolute;
  width: 5px;
  height: 88px;
  background-color: #747D8C;
  top: 0px;
  right: 0px;
  display: none;
}
@media only screen and (max-width: 700px) {
  .mobile-menu-cat .category-container .one-mobile-category .category-line {
    height: 88px;
  }
}
@media only screen and (max-width: 650px) {
  .mobile-menu-cat .category-container .one-mobile-category .category-line {
    height: 114px;
  }
}
.mobile-menu-cat .category-container .one-mobile-category .active-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-menu-cat .category-container .one-mobile-category span {
  position: absolute;
  font-size: 17px;
  top: 31%;
  left: 20%;
  font-weight: 500;
}
.mobile-menu-cat .category-container .one-mobile-category img {
  width: 100%;
  height: 88px;
}
@media only screen and (max-width: 800px) {
  .mobile-menu-cat .category-container .one-mobile-category img {
    height: 88px;
  }
}
@media only screen and (max-width: 700px) {
  .mobile-menu-cat .category-container .one-mobile-category img {
    height: 88px;
  }
}

/* Visible state when the page is activated */
.mobile-menu-cat.visible-mobile {
  bottom: 50px !important; /* Slide-up to show the component */
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; /* Slide-up effect */
}

@media only screen and (max-width: 900px) {
  .lineMeu {
    width: 100%;
    background-color: #666E7B;
    visibility: visible !important; /* This will grow between 500px and 1300px */
    height: 7px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .lineMeu {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .lineMeu {
    margin-bottom: 10px;
  }
}

.blurred {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px); /* You can adjust the blur amount */
}

.main__menu {
  background-color: #747d8c;
  min-height: 40px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
  .main__menu {
    display: none;
  }
}
.main__menu .subcategories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Divide into 4 equal parts */
  gap: 0; /* No gaps between columns */
  padding: 0; /* No padding */
  margin: 0; /* No margin */
  width: 100%; /* Ensure it takes the full width */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Ensure padding and border don't affect width */
  background-color: #ecf0f1; /* If you want a background color */
}
.main__menu .sub-category-column {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #666;
  position: relative;
  padding: 10px; /* Adjust padding as needed */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Ensures padding doesn't affect width */
}
.main__menu .sub-category-column .only__image {
  margin-bottom: 32px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  border: 3px solid white;
}
.main__menu .sub-category-column .only__image:hover {
  border-color: #747d8c;
}
.main__menu .sub-category-column .first__image {
  margin-bottom: 32px;
  cursor: pointer;
  width: 100%;
  height: 40%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  border: 3px solid white;
}
.main__menu .sub-category-column .first__image:hover {
  border-color: #747d8c;
}
.main__menu .sub-category-column .trending-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main__menu .sub-category-column .trending-list li {
  width: 35%;
  margin-right: 23px;
}
.main__menu .sub-category-column .trending-list li .image-container2 {
  margin-bottom: 18px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Add smooth transition for hover */
}
.main__menu .sub-category-column .trending-list li .image-container2:hover .circle-image {
  border-color: #747d8c; /* Change border color on hover */
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}
.main__menu .sub-category-column .trending-list li .image-container2 span {
  color: grey;
  margin-top: 5px;
}
.main__menu .sub-category-column .trending-list li .image-container2 .circle-image {
  border: 3px solid white;
  width: 91px; /* Set the size of the image */
  height: 91px;
  border-radius: 50%; /* Makes the image circular */
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.main__menu .sub-category-column .image-container {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Add smooth transition for hover */
}
.main__menu .sub-category-column .image-container:hover .circle-image {
  border-color: #747d8c; /* Change border color on hover */
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}
.main__menu .sub-category-column .image-container span {
  color: grey;
  margin-left: 20px;
}
.main__menu .sub-category-column .image-container .circle-image {
  border: 3px solid white;
  width: 50px; /* Set the size of the image */
  height: 50px;
  border-radius: 50%; /* Makes the image circular */
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.main__menu .sub-category-column .image-container::after {
  content: "";
  width: 64%;
  background-color: #ccc;
  position: absolute;
  bottom: 4px;
  right: 26px;
  height: 1px;
}
.main__menu .sub-category-column::after {
  content: "";
  width: 1px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 10px; /* Aligns the line to the right */
  height: 100%;
}
.main__menu .sub-category-column:nth-child(4)::after {
  visibility: hidden; /* Hide the line on the last column */
}
.main__menu .main__title {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: system-ui;
}
.main__menu .optionl__text, .main__menu ul {
  margin: 0;
  padding: 0;
}
.main__menu ul {
  list-style-type: none; /* Remove bullets */
}
.main__menu .sub__title {
  cursor: pointer;
  color: grey;
  padding: 5px;
  font-weight: 500;
}
.main__menu .sub__title:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.main__menu .mobile__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}
.main__menu .mobile__menu img {
  width: 41px;
  height: 39px;
  padding: 4px;
  margin-right: 20px;
}
.main__menu .mobile__menu span {
  font-size: 16px;
}
.main__menu .menu1 {
  min-height: 42px;
  margin-left: 10px;
}
.main__menu .menu1 > ul {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}
.main__menu .menu1 > ul > li {
  cursor: default;
  padding: 10px 30px;
  font-family: IRANSans;
  font-size: 15px;
  list-style-type: none;
  text-decoration: none;
}
.main__menu .menu1 > ul > li a {
  text-decoration: none;
  color: white;
  cursor: default;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 500;
}
.main__menu .menu1 > ul > li:hover {
  background-color: #ecf0f1;
}
.main__menu .menu1 > ul > li:hover a {
  color: #666;
}
.main__menu .menu1 > ul > li:hover ul {
  visibility: visible;
  transform: perspective(400) rotate3d(0, 0, 0, 0);
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
  -moz-transform: perspective(400) rotate3d(0, 0, 0, 0);
  -ms-transform: perspective(400) rotate3d(0, 0, 0, 0);
  -o-transform: perspective(400) rotate3d(0, 0, 0, 0);
}
.main__menu .menu1 > ul > li:hover::before {
  margin-right: -51px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: -13px;
}
.main__menu .menu1 > ul > li > ul {
  position: absolute;
  background-color: #ecf0f1;
  max-height: 363px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 44px;
  z-index: 100;
  direction: ltr;
  right: 0px;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  visibility: hidden;
}
.main__menu .menu1 > ul > li > ul .cat__name {
  margin-left: 20px;
  margin-right: 100px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: white;
  font-weight: 500;
}
.main__menu .menu1 > ul > li > ul .sub__cat__name {
  font-size: 16px;
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.main__menu .menu1 > ul > li > ul .sub__cat__name li {
  direction: ltr;
}
.main__menu .menu1 > ul > li > ul .sub__cat__name li:hover {
  color: white;
}
.main__menu .menu1 > ul > li > ul .sub__cat__name li {
  direction: ltr;
}/*# sourceMappingURL=menu.css.map */