@-webkit-keyframes icon__animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes icon__animate {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.orange-striped {
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 40px, #e66564 40px, #e66564 60px);
}

.last__offer {
  margin-top: 15px;
  position: relative;
}
.last__offer .main__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.last__offer .main__offer .top__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.last__offer .main__offer .top__offer .top__offer__category {
  color: #fff;
  padding: 5px 5px 3px 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  direction: ltr;
  margin-bottom: 5px;
}
@media only screen and (max-width: 1200px) {
  .last__offer .main__offer .top__offer .top__offer__category {
    padding: 5px 5px 3px 10px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .last__offer .main__offer .top__offer .top__offer__category {
    font-size: 17px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .last__offer .main__offer .top__offer .top__offer__category {
    font-size: 17px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .last__offer .main__offer .top__offer .top__offer__category {
    padding: 2px 2px 3px 6px;
    font-size: 16px;
    height: 42px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .last__offer .main__offer .top__offer .top__offer__category {
    padding: 0px;
    font-size: 14px;
    height: 35px;
    margin-bottom: 5px;
  }
}
.last__offer .main__offer .top__offer .top__offer__category .icon {
  height: 38px;
  width: 38px;
  margin-right: 13px;
}
@media only screen and (max-width: 600px) {
  .last__offer .main__offer .top__offer .top__offer__category .icon {
    height: 32px;
    width: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .last__offer .main__offer .top__offer .top__offer__category .icon {
    height: 27px;
    width: 27px;
  }
}
.last__offer .main__offer .top__offer .top__offer__category .plus {
  width: 2%;
  text-decoration: none;
}
.last__offer .main__offer .top__offer .top__offer__category .arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 44px;
  right: 182px;
  visibility: hidden;
}
.last__offer .main__offer .top__offer .orange {
  background-color: #ff7675;
}
.last__offer .main__offer .top__offer .lightgreen {
  background-color: #81ecec;
}
.last__offer .main__offer .top__offer .green300 {
  background-color: #55efc4;
}
.last__offer .main__offer .top__offer .lemon {
  background-color: #fab1a0;
}
.last__offer .main__offer .top__offer .blue {
  background-color: #74b9ff;
}
.last__offer .main__offer .top__offer .green {
  background-color: #55efc4;
}
.last__offer .main__offer .middle__offer__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}
.last__offer .main__offer .middle__offer__slider .line {
  background-color: #55efc4;
  width: 99%;
  height: 4px;
}
.last__offer .main__offer .buttom__offer__slider {
  width: 100%;
  padding-top: 5px;
  background-color: #fff;
}
.last__offer .main__offer .buttom__offer__slider:hover .slick-arrow {
  visibility: visible;
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider:hover .slick-arrow {
    visibility: hidden;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
}
.last__offer .main__offer .buttom__offer__slider .one__product .tag__discount {
  position: absolute;
  border-radius: 12px;
  width: 41px;
  height: 41px;
  background-color: #ff7675;
  top: 5px;
  left: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px;
  font-weight: 500;
  z-index: 10;
  font-size: 16px;
}
@media only screen and (max-width: 1000px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 38px;
    height: 38px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 850px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 750px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 30px;
    height: 30px;
    font-size: 13px;
    padding: 17px;
  }
}
@media only screen and (max-width: 600px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 23px;
    height: 23px;
    font-size: 11px;
    padding: 15px;
    left: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding: 14px;
    left: 8px;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__images:hover .overlay__name {
  opacity: 1;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__images .overlay__name {
  border-radius: 4px;
  position: absolute;
  width: 90%;
  height: 40px;
  background-color: white;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  direction: ltr;
  padding: 5px 2px;
  font-size: 13px;
  right: 5%;
  bottom: 5%;
  font-weight: 500;
  color: black;
}
@media only screen and (max-width: 1100px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__images .overlay__name {
    font-size: 12px;
  }
}
@media only screen and (max-width: 850px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__images .overlay__name {
    padding: 4px 2px;
    font-size: 11px;
    height: 34px;
  }
}
@media only screen and (max-width: 750px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__images .overlay__name {
    padding: 2px 1px !important;
    font-size: 10px;
    height: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__images .overlay__name {
    padding: 2px 1px !important;
    font-size: 8px;
    height: 25px;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__images img {
  width: 96%;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
}
@media only screen and (max-width: 980px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__images img {
    height: 33.3333333333vw;
  }
}
@media only screen and (max-width: 650px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__images img {
    height: 44vw;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__images img {
    height: 41.25vw;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__images img:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color {
  margin-bottom: 12px;
  width: 95%;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 7px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  direction: ltr;
  padding: 0px;
  margin-right: 5px;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul li {
  height: 30px;
  width: 30px;
  border: 2px solid grey;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul li {
    height: 27px;
    width: 27px;
  }
}
@media only screen and (max-width: 600px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul li {
    height: 24px;
    width: 24px;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul li {
    height: 22px;
    width: 22px;
    margin-left: 3px;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul li:hover {
  border: 2px solid black;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul .yellow {
  background-color: yellow;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul .orange {
  background-color: #ff7675;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul .white {
  background-color: #fff;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__name {
  text-align: right;
  font-size: 15px;
  margin-bottom: 5px;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon {
  margin-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon:hover .icon__basket {
  background-color: #ff7675;
  width: 160px;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon:hover .icon__basket .pluse {
  visibility: visible;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon:hover .add__to__cart {
  visibility: visible;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket {
  position: relative;
  padding: 4px;
  background-color: #747D8C;
  border-radius: 4px;
  cursor: pointer;
  transition: all 2s ease-in-out 0s;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  -ms-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .add__basket {
  width: 35px;
  height: 35px;
  padding: 5px;
}
@media only screen and (max-width: 900px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .add__basket {
    height: 32px;
    width: 32px;
  }
}
@media only screen and (max-width: 800px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .add__basket {
    height: 30px;
    width: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .add__basket {
    height: 29px;
    width: 29px;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .add__basket {
    height: 26px;
    width: 26px;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .pluse {
  position: absolute;
  top: 48%;
  width: 10px;
  height: 10px;
  right: 41%;
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .poduct__price {
  color: black;
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  top: 13px;
  left: 5px;
  position: absolute;
}
@media only screen and (max-width: 900px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .poduct__price {
    font-size: 13px;
  }
}
@media only screen and (max-width: 700px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .poduct__price {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .poduct__price {
    font-size: 11px;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price {
  text-decoration: line-through;
  font-size: 13px;
  top: 9px;
  left: 5px;
}
@media only screen and (max-width: 900px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price {
    font-size: 13px;
  }
}
@media only screen and (max-width: 700px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price {
    font-size: 11px;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price__main {
  color: #ff7675;
  font-size: 14px;
  position: absolute;
  top: 26px;
  left: 4px;
  z-index: -1;
  font-weight: bold;
}
@media only screen and (max-width: 900px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price__main {
    font-size: 13px;
    top: 23px;
  }
}
@media only screen and (max-width: 600px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price__main {
    font-size: 12px;
    top: 23px;
  }
}
@media only screen and (max-width: 500px) {
  .last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price__main {
    font-size: 11px;
    top: 20px;
  }
}
.last__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .add__to__cart {
  position: absolute;
  top: 12px;
  left: 51px;
  visibility: hidden;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.last__offer .slick-arrow {
  top: 40%;
  visibility: hidden;
}
.last__offer .slick-arrow::before {
  font-size: 35px;
  color: grey;
}
.last__offer .slick-next {
  right: -1px;
}
@media only screen and (max-width: 500px) {
  .last__offer .slick-next {
    display: none;
  }
}
.last__offer .slick-prev {
  left: -12px;
  z-index: 10;
}
@media only screen and (max-width: 500px) {
  .last__offer .slick-prev {
    display: none;
  }
}
.last__offer .red {
  background-color: #f53b57;
}
.last__offer .yellow {
  background-color: yellow;
}
.last__offer .blue {
  background-color: #74b9ff;
}
.last__offer .orange {
  background-color: #ff7675;
}
.last__offer .white {
  background-color: white;
}
.last__offer .grey {
  background-color: grey;
}
.last__offer .red {
  background-color: #f53b57;
}
.last__offer .black {
  background-color: #2d3436;
}
.last__offer .pink {
  background-color: pink;
}
.last__offer .brown {
  background-color: #dabb9f;
}
.last__offer .cream {
  background-color: #fab1a0;
}
.last__offer .green {
  background-color: #55efc4;
}
.last__offer .lightblue {
  background-color: #81ecec;
}/*# sourceMappingURL=popular__module.css.map */