@-webkit-keyframes icon__animate2 {
  0% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  15% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  45% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  75% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  90% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}
@keyframes icon__animate2 {
  0% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  15% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  45% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  75% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  90% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}
.orange-striped {
  background: repeating-linear-gradient(45deg, #FF7675, #FF7675 40px, #e66564 40px, #e66564 60px);
}

.Toastify {
  text-align: right;
}
.Toastify .Toastify__toast-body {
  margin-right: 24px;
  font-size: 15px;
}

.blurred {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px); /* You can adjust the blur amount */
}

.c-white {
  color: white;
}

.main {
  margin-bottom: 30px;
}
.main .top__page {
  width: 100%;
  min-height: 610px;
}
.main .top__page .container-special {
  width: 100%;
  direction: ltr;
}
.main .top__page .container-special .breadcrumb1 {
  direction: ltr !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-decoration: none !important;
}
.main .top__page .container-special .breadcrumb1 .sixty {
  width: 53%;
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .breadcrumb1 .sixty {
    width: 0%;
  }
}
.main .top__page .container-special .breadcrumb1 .breadcrumb-item {
  text-decoration: none !important;
  font-size: 15px;
  color: grey;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .breadcrumb1 .breadcrumb-item {
    font-size: 14px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .breadcrumb1 .breadcrumb-item {
    font-size: 13px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .breadcrumb1 .breadcrumb-item {
    font-size: 12px;
  }
}
.main .top__page .container-special .breadcrumb1 .breadcrumb-item a {
  color: grey;
  text-decoration: none !important;
}
.main .top__page .container-special .breadcrumb1 .breadcrumb-item::before {
  margin-left: 5px;
}
.main .top__page .container-special .breadcrumb1 .breadcrumb-item:hover a {
  color: #ff7675;
}
.main .top__page .container-special .top__right__and__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: rtl;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  direction: ltr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right {
    width: 100%;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 17px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .price span {
  font-size: 23px;
  font-weight: 500;
  color: #ff7675;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price span {
    font-size: 22px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price span {
    font-size: 21px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .price .before__discount__price {
  text-decoration: line-through;
  font-size: 20px;
  color: grey;
  margin-left: 15px;
  margin-right: 16px;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .before__discount__price {
    font-size: 19px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .before__discount__price {
    font-size: 18px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .price .discount__price {
  color: #ff7675;
  margin-right: 15px;
  font-weight: 500;
  font-size: 23px;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .discount__price {
    font-size: 22px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .discount__price {
    font-size: 21px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .price .discount__icon {
  position: absolute;
  top: -9px;
  left: -6px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .price .discount__icon img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .discount__icon img {
    width: 46px;
    height: 46px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .discount__icon img {
    width: 44px;
    height: 44px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .price .percentage__discount {
  z-index: 5;
  direction: ltr;
  color: #fff;
  font-size: 20px;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .percentage__discount {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .price .percentage__discount {
    font-size: 17px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: ltr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .title span {
  font-size: 23px;
  font-weight: 500;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .title .english__name {
  font-size: 28px;
  font-weight: 500;
  color: black;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .title .english__name {
    font-size: 25px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .title .english__name {
    font-size: 23px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .title .english__name {
    font-size: 22px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .brand {
    font-size: 19px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .brand {
    font-size: 18px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .brand span {
  text-decoration: none;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .brand a {
  text-decoration: none !important;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .title__and__price .brand .title {
  color: grey;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .review {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .review .rateNumber {
  color: #ff7675;
  font-weight: 600;
  font-size: 22px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .review ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .review ul .star__icon {
  margin-left: 5px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .review ul .star__icon svg {
  width: 22px;
  height: 22px;
  fill: gray;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .review ul .star__icon .positive {
  fill: #feca57;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .review span {
  color: #22a6b3;
  font-size: 21px;
  font-weight: 500;
  margin-left: 10px;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .review span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .review span {
    font-size: 19px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .the__box__of__discount {
  margin-top: 22px;
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Rotate the number when it changes */
}
.main .top__page .container-special .top__right__and__left .detail__product__right .the__box__of__discount .title {
  font-size: 18px;
  color: gray;
  font-weight: 500;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .the__box__of__discount .countdown {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .the__box__of__discount .number {
  width: 66px;
  height: 58px;
  background-color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 20px;
  position: relative;
  text-align: center;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .the__box__of__discount .number__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: #fff;
  background: radial-gradient(#93d9f9, #0cb0b5);
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .the__box__of__discount .number__label {
  margin-top: 4px;
  font-size: 1em;
  color: gray;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .the__box__of__discount .number.decrease .number__value {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.main .top__page .container-special .top__right__and__left .detail__product__right .product__detail {
  margin-top: 21px;
  width: 100%;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .product__detail .title {
  color: gray;
  font-size: 17px;
  font-weight: 500;
  margin-left: 5px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .product__detail .description {
  font-size: 17px;
  font-weight: 500;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .product__detail .one-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .product__detail .one-line .id {
  margin-left: 16px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .product__detail .one-line .brand {
  margin-left: 16px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .product__detail .one-line .waranty {
  margin-left: 25px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size {
  width: 100%;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color .title__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41%;
}
@media only screen and (max-width: 1100px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color .title__color {
    width: 45%;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color span {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color span {
    font-size: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color span {
    font-size: 17px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color .title {
  color: gray;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color .title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color .title {
    font-size: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color .title {
    font-size: 17px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  margin-bottom: 7px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  direction: ltr;
  padding: 0px;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul {
    margin-left: 0px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul .chose {
  border: 2px solid black;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul .not__allowed {
  cursor: not-allowed;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li {
  height: 38px;
  width: 38px;
  border: 2px solid grey;
  border-radius: 30px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li {
    height: 35px;
    width: 35px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li {
    height: 32px;
    width: 32px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li .orange {
  background-color: #ff7675;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li .red {
  background-color: #f53b57;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li .grey {
  background-color: grey !important;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li .white {
  background-color: #fff;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li .blue {
  background-color: #74b9ff;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li .yellow {
  background-color: yellow;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li .out__of__stock {
  height: 42px;
  width: 2px;
  position: absolute;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  z-index: 5;
  background-color: gray;
  top: -2px;
  left: 19px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__color ul li:hover {
  border: 2px solid black;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .title__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41%;
}
@media only screen and (max-width: 1100px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .title__size {
    width: 45%;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .title__size span {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .title__size span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .title__size span {
    font-size: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .title__size span {
    font-size: 17px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .title__size .title {
  color: gray;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .chose {
  background-color: black;
  color: white;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .chose {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .chose {
    font-size: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .chose {
    font-size: 17px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size .not__allowed {
  cursor: not-allowed;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 7px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  direction: ltr;
  padding: 0px;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul {
    margin-left: 0px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul .regular2 {
  cursor: pointer;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul .regular2:hover {
  color: white;
  background-color: black;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul li {
  height: 45px;
  width: 46px;
  /* border: 2px solid grey; */
  border-radius: 14px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  background-color: #e9ecef;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul li {
    height: 40px;
    width: 42px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul li {
    height: 38px;
    width: 40px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul li .out__of__stock {
  height: 50px;
  width: 2px;
  position: absolute;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  z-index: 5;
  background-color: gray;
  top: -3px;
  left: 22px;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .color__and__size .product__box__size ul li .out__of__stock {
    height: 46px;
    left: 20px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 15px;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .guid {
    display: none;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid .icon {
  margin-left: 5px;
  height: 50px;
  width: 55px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .guid .icon {
    height: 45px;
    width: 50px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid span {
  font-size: 17px;
  font-weight: 500;
  color: gray;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .guid span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .guid span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 730px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .guid span {
    font-size: 13px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid .size__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid .size__info:hover .icon {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid .shipping__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 42px;
  cursor: pointer;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid .shipping__info:hover .icon {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid .terms__of__returns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .guid .terms__of__returns:hover .icon {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 15px;
  margin-bottom: 10px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .wish__list {
  margin-left: 15px;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .wish__list {
    margin-left: 10px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .wish__list .icon {
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .wish__list .icon {
    height: 40px;
    width: 40px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .animation {
  animation: icon__animate2 1s infinite;
  -webkit-animation: icon__animate2 1s infinite;
  background-color: #ff7675 !important;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #55efc4;
  padding: 8px 40px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart {
    padding: 8px 30px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart {
    padding: 7px 20px;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart:hover {
  animation: icon__animate2 1s infinite;
  -webkit-animation: icon__animate2 1s infinite;
  background-color: #ff7675;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart:hover .pluse {
  visibility: visible;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart .icon {
  margin-left: 10px;
  height: 35px;
  width: 35px;
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart .icon {
    height: 30px;
    width: 30px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart span {
  font-size: 20px;
  font-weight: 550;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart span {
    font-size: 18px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart .pluse {
  position: absolute;
  top: 25px;
  height: 12px;
  width: 10px;
  right: 53px;
  visibility: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart .pluse {
    top: 25px;
    height: 10px;
    width: 9px;
    right: 44px;
  }
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .add__to__cart .pluse {
    top: 21px;
    height: 9px;
    width: 9px;
    right: 31px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .out__of__stock {
  font-size: 20px;
  font-weight: 500;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 9px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .number__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9ecef;
  /* padding: 8px 40px; */
  width: 83px;
  height: 51px;
  margin-right: 2px;
  direction: ltr;
  padding: 0px 10px;
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .number__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e9ecef;
    /* padding: 8px 40px; */
    width: 75px;
    height: 44px;
    margin-right: 2px;
    direction: ltr;
    padding: 0px 10px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .number__product button {
  font-size: 30px;
  color: gray;
  cursor: pointer;
  border: 0px;
  width: 15px;
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .number__product button {
    font-size: 27px;
  }
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .number__product button:focus {
  outline: 0px;
}
.main .top__page .container-special .top__right__and__left .detail__product__right .buttons .number__product .quantity {
  color: #000;
  font-size: 25px;
  cursor: unset;
}
@media only screen and (max-width: 800px) {
  .main .top__page .container-special .top__right__and__left .detail__product__right .buttons .number__product .quantity {
    font-size: 22px;
  }
}
.main .top__page .container-special .top__right__and__left .product-line {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3px;
  width: 100%;
  background-color: #E9ECEF;
  display: none;
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .product-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main .top__page .container-special .top__right__and__left .image__galery__left {
  max-height: 443px !important;
  width: 48%;
  margin-top: -35px;
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .image__galery__left {
    margin-top: 0px;
    width: 100%;
    max-height: 100vh !important;
  }
}
.main .top__page .container-special .top__right__and__left .image__galery__left .image-gallery-image {
  max-height: calc(100vh - 90px) !important;
}
@media only screen and (max-width: 1000px) {
  .main .top__page .container-special .top__right__and__left .image__galery__left .image-gallery-image {
    max-height: 100vh !important;
  }
}
@media only screen and (max-width: 900px) {
  .main .top__page .container-special .top__right__and__left .image__galery__left .image-gallery-image {
    max-height: 100vh !important;
  }
}
@media only screen and (max-width: 700px) {
  .main .top__page .container-special .top__right__and__left .image__galery__left .image-gallery-image {
    width: 100%;
    max-height: calc(100vh - 200px) !important;
  }
}
@media only screen and (max-width: 500px) {
  .main .top__page .container-special .top__right__and__left .image__galery__left .image-gallery-image {
    width: 100%;
    max-height: 100vw !important;
  }
}
.main .top__page .container-special .top__right__and__left .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: ltr;
  margin-top: 10px;
  width: 100%;
  margin-top: 27px;
}
.main .top__page .container-special .top__right__and__left .share span {
  font-size: 18px;
  color: gray;
  font-weight: 500;
  margin-left: 30px;
  margin-right: 15px;
}
.main .top__page .container-special .top__right__and__left .share .icon1 {
  width: 40px;
  height: 40px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.main .top__page .container-special .top__right__and__left .share .icon1:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}
.main .top__page .container-special .top__right__and__left .share .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
.main .top__page .container-special .top__right__and__left .share .share span {
  font-size: 16px;
  color: gray;
  font-weight: 500;
}
.main .top__page .container-special .top__right__and__left .share .share .icon1 {
  width: 35px;
  height: 35px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.main .top__page .container-special .top__right__and__left .share .share .icon1:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}
.main .buttom__page__tabs {
  margin-top: 20px;
  overflow-x: hidden;
}
.main .buttom__page__tabs .tabs {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  background-color: #e9ecef;
}
.main .buttom__page__tabs .tabs .custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.main .buttom__page__tabs .tabs .custom .filter__title {
  cursor: pointer;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 8px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid gray;
}
@media only screen and (max-width: 900px) {
  .main .buttom__page__tabs .tabs .custom .filter__title {
    padding: 5px 8px;
  }
}
@media only screen and (max-width: 700px) {
  .main .buttom__page__tabs .tabs .custom .filter__title {
    padding: 4px 5px;
  }
}
.main .buttom__page__tabs .tabs .custom .filter__title span {
  font-size: 19px;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .main .buttom__page__tabs .tabs .custom .filter__title span {
    font-size: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .main .buttom__page__tabs .tabs .custom .filter__title span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .main .buttom__page__tabs .tabs .custom .filter__title span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .main .buttom__page__tabs .tabs .custom .filter__title span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  .main .buttom__page__tabs .tabs .custom .filter__title span {
    font-size: 13px;
  }
}
@media only screen and (max-width: 430px) {
  .main .buttom__page__tabs .tabs .custom .filter__title span {
    font-size: 12px;
  }
}
.main .buttom__page__tabs .tabs .custom .filter__title .title__icon {
  height: 35px;
  width: 35px;
  margin-right: 8px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
@media only screen and (max-width: 700px) {
  .main .buttom__page__tabs .tabs .custom .filter__title .title__icon {
    height: 30px;
    width: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .main .buttom__page__tabs .tabs .custom .filter__title .title__icon {
    height: 25px;
    width: 25px;
  }
}
.main .buttom__page__tabs .tabs .custom2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: right;
}
.main .buttom__page__tabs .tabs .custom2 .show {
  width: 100%;
  height: 800px;
}
.main .buttom__page__tabs .tabs .custom2 .content {
  direction: ltr;
  margin-right: 10px;
  margin-top: 50px;
}
.main .buttom__page__tabs .tabs .custom2 .content th {
  font-size: 15px;
}

.grey {
  background-color: grey;
}

.black-white {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}/*# sourceMappingURL=product.css.map */