.blur-products {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.whole__product {
  margin-top: 15px;
  position: relative;
  width: 100%;
}
.whole__product .m {
  width: 100%;
}
.whole__product .m .main__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer {
    margin-left: 0px;
  }
}
.whole__product .m .main__offer .top__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
}
.whole__product .m .main__offer .top__offer .top__offer__category {
  text-align: center;
  color: black;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  height: 58px;
}
.whole__product .m .main__offer .top__offer .arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 44px;
  right: 182px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  visibility: visible;
}
.whole__product .m .main__offer .middle__offer__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-top: 10px;
}
.whole__product .m .main__offer .middle__offer__slider .line2 {
  width: 99%;
  height: 4px;
}
.whole__product .m .main__offer .buttom__offer__slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px; /* Gap between the items */
  width: 99%;
  background-color: #fff;
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .whole__product .m .main__offer .buttom__offer__slider {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 740px) {
  .whole__product .m .main__offer .buttom__offer__slider {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 550px) {
  .whole__product .m .main__offer .buttom__offer__slider {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Gap between the items */
  }
}
@media only screen and (max-width: 450px) {
  .whole__product .m .main__offer .buttom__offer__slider {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px; /* Gap between the items */
  }
}
.whole__product .m .main__offer .buttom__offer__slider .no-products-message {
  grid-column: span 4; /* Span across 4 columns */
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  width: 100%; /* Ensure it spans the entire width */
}
.whole__product .m .main__offer .buttom__offer__slider .one__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  margin-bottom: 15px;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .tag__discount {
  z-index: 10;
  position: absolute;
  border-radius: 12px;
  width: 35px;
  height: 35px;
  background-color: #ff7675;
  top: 5px;
  left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px;
  font-weight: 500;
  direction: ltr;
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 38px;
    height: 38px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 850px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .tag__discount {
    width: 30px;
    height: 30px;
    font-size: 13px;
    padding: 17px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  height: 303px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images {
    height: 270px;
  }
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images {
    height: 303px;
  }
}
@media only screen and (max-width: 820px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images {
    height: 270px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images {
    height: 240px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay {
  position: absolute;
  left: 26px;
  top: 290px;
  width: 37px;
  height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul {
  cursor: pointer;
  position: relative;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number1 {
  top: -36px;
  left: -35px;
  z-index: 10;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number1 {
    top: -65px;
  }
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number1 {
    top: -36px;
  }
}
@media only screen and (max-width: 820px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number1 {
    top: -65px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number1 {
    top: -92px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number2 {
  top: -36px;
  left: -5px;
  z-index: 9;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number2 {
    top: -65px;
    left: -10px;
  }
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number2 {
    top: -36px;
    left: -5px;
  }
}
@media only screen and (max-width: 820px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number2 {
    top: -65px;
    left: -10px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number2 {
    top: -92px;
    left: -12px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number3 {
  top: -36px;
  left: 25px;
  z-index: 8;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number3 {
    top: -65px;
    left: 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number3 {
    top: -36px;
    left: 25px;
  }
}
@media only screen and (max-width: 820px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number3 {
    top: -65px;
    left: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number3 {
    top: -92px;
    left: 12px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number4 {
  top: -36px;
  left: 55px;
  z-index: 7;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number4 {
    top: -65px;
    left: 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number4 {
    top: -36px;
    left: 55px;
  }
}
@media only screen and (max-width: 820px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number4 {
    top: -65px;
    left: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number4 {
    top: -92px;
    left: 36px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number5 {
  top: -36px;
  left: 85px;
  z-index: 6;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number5 {
    top: -65px;
    left: 65px;
  }
}
@media only screen and (max-width: 1000px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number5 {
    top: -36px;
    left: 85px;
  }
}
@media only screen and (max-width: 820px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number5 {
    top: -65px;
    left: 65px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .number5 {
    top: -92px;
    left: 60px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .without__color {
  height: 25px;
  width: 25px;
  margin-left: 16px;
  fill: gray;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .without__color {
    height: 22px;
    width: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .without__color {
    height: 20px;
    width: 20px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images .overlay .product__star ul .star__icon .positive {
  fill: #ff7675;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .product__images:hover .overlay {
  opacity: 1;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .pic {
  width: 100%;
  height: 100%;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product a .pic .main__pic {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail {
  width: 100%;
  direction: rtl;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color {
  width: 57%;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  margin-bottom: 2px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0px;
  margin-right: 9px;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul li {
  height: 29px;
  width: 29px;
  border: 2px solid grey;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul li {
    height: 26px;
    width: 26px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul li {
    height: 22px;
    width: 22px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul li:hover {
  border: 2px solid black;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .yellow {
  background-color: yellow;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .blue {
  background-color: #74b9ff;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .orange {
  background-color: #ff7675;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .white {
  background-color: #fff;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .grey {
  background-color: grey;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .red {
  background-color: #f53b57;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .black {
  background-color: #2d3436;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .pink {
  background-color: pink;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .brown {
  background-color: #dabb9f;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .cream {
  background-color: #fab1a0;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__box__color ul .green {
  background-color: #55efc4;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43%;
  margin-top: 3px;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon span {
  font-size: 15px;
  text-align: right;
  font-weight: bold;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon span {
    font-size: 13px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon .discount__price {
  text-decoration: line-through;
  font-size: 15px;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon .discount__price {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon .discount__price {
    font-size: 13px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon .discount {
  font-size: 15px;
  font-weight: bold;
  color: #ff7675;
  margin-left: 5px;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon .discount {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 600px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon .discount {
    font-size: 13px;
  }
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .price__color .product__price__and__icon img {
  width: 40px;
  height: 40px;
}
.whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .product__name {
  text-align: left;
  font-size: 15px;
  margin-bottom: 5px;
  direction: ltr;
}
@media only screen and (max-width: 1100px) {
  .whole__product .m .main__offer .buttom__offer__slider .one__product .product__detail .product__name {
    font-size: 14px;
  }
}
.whole__product .slick-arrow {
  top: 40%;
  visibility: hidden;
}
.whole__product .slick-arrow::before {
  font-size: 35px;
  color: grey;
}
.whole__product .slick-next {
  right: -1px;
}
.whole__product .slick-prev {
  left: -12px;
  z-index: 10;
}
.whole__product .bg-blue {
  background-color: #74b9ff !important;
}
.whole__product .bg-orange {
  background-color: #ff7675 !important;
}
.whole__product .bg-red {
  background-color: #f53b57 !important;
}
.whole__product .bg-grey {
  background-color: grey !important;
}
.whole__product .bg-white {
  background-color: #fff !important;
}
.whole__product .bg-yellow {
  background-color: yellow !important;
}
.whole__product .bg-lemon {
  background-color: #2d3436 !important;
}
.whole__product .bg-pink {
  background-color: pink !important;
}
.whole__product .bg-brown {
  background-color: #dabb9f !important;
}
.whole__product .bg-lightgreen {
  background-color: green !important;
}
.whole__product .bg-pale {
  background-color: #eee8aa !important;
}
.whole__product .bg-coral {
  background-color: #FDD5BC !important;
}
.whole__product .bg-tea {
  background-color: #C5E8D0 !important;
}
.whole__product .bg-lavender {
  background-color: #e2dbff !important;
}
.whole__product .bg-sourLemon {
  background-color: #ffeaa7 !important;
}/*# sourceMappingURL=products__category.css.map */