@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
@keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
.bg-grey {
  background-color: rgba(238, 238, 238, 0.9333333333);
  margin-top: -20px;
  min-height: 400px;
}
.bg-grey .whole-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  padding-top: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 0px;
  }
}
@media only screen and (max-width: 700px) {
  .bg-grey .whole-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.bg-grey .whole-part .left-part {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part {
    width: 51%;
  }
}
@media only screen and (max-width: 700px) {
  .bg-grey .whole-part .left-part {
    position: static;
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .bg-grey .whole-part .left-part {
    position: static;
    width: 80%;
  }
}
.bg-grey .whole-part .left-part .header {
  background-color: white;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .header {
    height: 60px;
  }
}
@media only screen and (max-width: 700px) {
  .bg-grey .whole-part .left-part .header {
    margin-top: 25px;
  }
}
.bg-grey .whole-part .left-part .header span {
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part .header span {
    font-size: 18px;
  }
}
.bg-grey .whole-part .left-part .main-part {
  background-color: white;
  margin-top: 20px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container {
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(238, 238, 238, 0.9333333333);
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 160px;
  position: relative;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .trash__button {
  position: absolute;
  top: 11px;
  right: 29px;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .trash__button {
    right: 10px;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .trash__button img {
  margin-bottom: 3px;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  cursor: pointer;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__right {
  width: 23%;
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__right {
    width: 30%;
  }
}
@media only screen and (max-width: 500px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__right {
    width: 37%;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__right img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left {
  width: 70%;
  padding: 8px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left span {
  text-align: right;
  display: block;
  font-weight: 500;
  font-size: 13.5px;
  text-align: left !important;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .name {
  font-size: 18px;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .name {
    font-size: 17px;
  }
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .name {
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .name {
    font-size: 15px;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .color-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .color-size .color, .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .color-size .size {
  font-size: 16px;
  color: grey;
  margin-top: 5px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .color-size .size {
  margin-left: 10px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .dropdown__basket__body__left__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10px;
  padding-top: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .dropdown__basket__body__left__info .number {
  font-size: 17px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .dropdown__basket__body__left__info .number__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .dropdown__basket__body__left__info .number__product button {
  width: 25px;
  height: 29px;
  border: none;
  background-color: #747D8C;
  color: white;
  font-weight: 500;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .dropdown__basket__body__left__info .number__product .quantity {
  font-size: 19px;
  padding: 0px 10px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price__item {
  display: block;
  font-size: 20px;
  /* border: 2px solid; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 6px;
  border-color: grey;
  padding: 0px;
  margin-top: 13px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 15px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price span {
  font-size: 19px;
  font-weight: 500;
  color: #ff7675;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price span {
    font-size: 19px;
  }
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price span {
    font-size: 19px;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .before__discount__price {
  text-decoration: line-through;
  font-size: 19px;
  color: grey;
  margin-left: 0px;
  margin-right: 16px;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .before__discount__price {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .before__discount__price {
    font-size: 17px;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .discount__price {
  color: #ff7675;
  margin-right: 15px;
  font-weight: 500;
  font-size: 19px;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .discount__price {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .discount__price {
    font-size: 17px;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .discount__icon {
  position: absolute;
  top: -9px;
  left: -6px;
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .discount__icon img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .discount__icon img {
    width: 46px;
    height: 46px;
  }
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .discount__icon img {
    width: 44px;
    height: 44px;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .percentage__discount {
  z-index: 5;
  direction: ltr;
  color: #fff;
  font-size: 20px;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .percentage__discount {
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body .dropdown__basket__body__left .price .percentage__discount {
    font-size: 17px;
  }
}
.bg-grey .whole-part .left-part .main-part .dropdown__basket__body__container .dropdown__basket__body:first-child {
  margin-top: 0; /* Remove margin-top for the first element */
}
.bg-grey .whole-part .right-part {
  position: sticky;
  top: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  height: 350px;
  width: 40%;
  background-color: white;
  padding: 24px;
}
@media only screen and (max-width: 700px) {
  .bg-grey .whole-part .right-part {
    position: static;
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .bg-grey .whole-part .right-part {
    position: static;
    width: 80%;
  }
}
.bg-grey .whole-part .right-part .header-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 22px;
  font-weight: 500;
}
.bg-grey .whole-part .right-part .shopLine {
  width: 100%;
  height: 2px;
  background-color: rgba(238, 238, 238, 0.9333333333);
  margin-bottom: 10px;
  margin-top: 10px;
}
.bg-grey .whole-part .right-part .sub-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.bg-grey .whole-part .right-part .sub-total .title {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .right-part .sub-total .title {
    font-size: 18px;
  }
}
.bg-grey .whole-part .right-part .sub-total .sub-total-price {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .right-part .sub-total .sub-total-price {
    font-size: 18px;
  }
}
.bg-grey .whole-part .right-part .delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bg-grey .whole-part .right-part .delivery .title {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .right-part .delivery .title {
    font-size: 18px;
  }
}
.bg-grey .whole-part .right-part .delivery .delivery-img {
  width: 20px;
  height: 20px;
}
.bg-grey .whole-part .right-part .checkout-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-weight: 500;
  background-color: #00B894;
  margin-bottom: 15px;
  color: white;
  padding: 6px;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .right-part .checkout-button {
    font-size: 19px;
    padding: 5px;
  }
}
.bg-grey .whole-part .right-part .checkout-button:hover {
  background-color: #009870;
}
.bg-grey .whole-part .right-part .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-grey .whole-part .right-part .footer .header {
  font-weight: 500;
}
@media only screen and (max-width: 850px) {
  .bg-grey .whole-part .right-part .footer .header {
    font-size: 15px;
  }
}
.bg-grey .whole-part .right-part .footer .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 6px;
}
.bg-grey .whole-part .right-part .footer .payment img {
  width: 45px;
  height: 45px;
}
@media only screen and (max-width: 850px) {
  .bg-grey .whole-part .right-part .footer .payment img {
    width: 37px;
    height: 37px;
  }
}
.bg-grey .whole-part .right-part .footer .discount-explain {
  margin-top: 10px;
}
@media only screen and (max-width: 900px) {
  .bg-grey .whole-part .right-part .footer .discount-explain {
    font-size: 13px;
  }
}
.bg-grey .also {
  padding-bottom: 30px;
  padding-top: 15px;
}/*# sourceMappingURL=shoppingProcess.css.map */