@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';

.mobile_box {
    width: 100%;
    height: 51px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease; /* Smooth transition for shrinking/expanding */
  
    .sort, .filter {
      cursor: pointer;
      background-color: #e9ecef;
      flex: 0 0 auto; /* Fix the width of .sort and .filter */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 37px;
      transition: transform 0.6s ease; /* Slow down shrinking */
      transform-origin: right; /* Shrink from right to left */
      transition: all 0.1s ease-in-out; /* Slide-up effect */
      border-radius: 6px;
      color: white;


  
      img {
        width: 24px;
        height: 24px;
        margin-left: 7px;
        margin-right: 4px;
        transition: transform 0.6s ease; /* Slow down image shrinking */
      }
  
      span {
        text-align: center;
        font-size: 15px;
        margin-right: 12px;
        font-weight: 500;
        transition: opacity 0.6s ease; /* Smooth fading out of the text */
      }
    }
  
    &.is-scrolling {
        .sort, .filter {
          img {
          }
          span {
            display: none; /* Completely remove the text */
          }
        }
      }
      
      /* When the user returns to the first slide, revert changes */
      &:not(.is-scrolling) {
        .sort, .filter {
          transform: scaleX(1); /* Back to normal size */
          img {
            transform: scale(1); /* Back to normal size */
          }
          span {
            display: block; /* Show the text again */
          }
        }
      }
      
  
    .slider-container {
      flex: 1; /* Allow the slider to take the remaining space */
      overflow: hidden; /* Hide content that overflows the container */
    }
  
    .slick-slide {
      display: inline-flex;
      align-items: center;
      width: auto; /* Each slide takes its own width based on content */
      margin-right: 15px; /* Space between the slides */

    }
  
    .one-filter span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap; /* Prevent text wrapping */
    //   border: 1px solid lightgrey;
      border-radius: 6px;
      padding: 10px;
      cursor: pointer;
      height: 37px;
      color: white;
    //   background-color: #FF7675;

    }
  
    .one-filter img {
      width: 15px;
      height: 15px;
      margin-right: 4px;
    }





    .bg-blue {
        background-color: #74b9ff !important;
      }
    
      .bg-orange {
        background-color: #ff7675 !important;
      }
    
      .bg-red {
        background-color: #f53b57 !important;
      }
    
      .bg-grey {
        background-color: grey !important;
      }
    
      .bg-white {
        background-color: #fff !important;
      }
    
      .bg-yellow {
        background-color: yellow !important;
      }
    
      .bg-lemon {
        background-color: #2d3436 !important;
      }
    
      .bg-pink {
        background-color: pink !important;
      }
    
      .bg-brown {
        background-color: #dabb9f !important;
      }
    
      .bg-lightgreen {
        background-color: green !important;
      }
    
      .bg-pale {
        background-color: #eee8aa !important;
      }
    
      .bg-coral {
        background-color: $coral !important;
      }
    
      .bg-tea {
        background-color: $tea !important;
      }
    
      .bg-lavender {
        background-color: $lavender !important;
      }
    
      .bg-sourLemon {
        background-color: $sourLemon !important;
      }
  }
  