.mobile_box {
    width: 100%;
    height: 51px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  
    .sort, .filter {
      cursor: pointer;
      background-color: #e9ecef;
      flex: 0 0 auto; // Fix the width of .sort and .filter, ensuring they don't grow or shrink
      padding: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      img {
        width: 28px;
        height: 28px;
        margin-left: 7px;
        margin-right: 4px;
      }
      span {
        text-align: center;
        font-size: 15px;
        margin-right: 12px;
        font-weight: 500;
      }
    }
  
    .slider-container {
      flex: 1; // Allows the slider to take the remaining space
      overflow: hidden; // Hide content that overflows the container
    }
  
    .slick-slide {
      display: inline-flex;
      align-items: center;
      width: auto; // Each slide takes its own width based on content
      margin-right: 15px; // Space between the slides
    }
  
    .one-filter {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap; // Prevent text wrapping
        border: 1px solid lightgrey;
        border-radius: 6px;
        padding: 10px;
        cursor: pointer;
        height: 36px;
        color: grey;
      }
  
      img {
        width: 15px;
        height: 15px;
        margin-right: 4px;
      }
    }
  }
  