@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';

@keyframes icon__animate3 {
    0% {
        border: 3px solid $white;
    }

    25% {
        border: 7px solid $white;
    }

    50% {
        border: 3px solid $white;
    }

    75% {
        border: 7px solid $white;
    }

    100% {
        border: 3px solid $white;
    }
}



.whole__style__offer {
    text-decoration: none !important;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;

    .main__offer {
        display: flex;
        align-items: center;
        width: 98.8%;
        flex-direction: column;

        .top__offer {
            display: flex;
            width: 100%;

            .title {
                display: flex;
                width: 101%;

                .top__offer__category {
                    color: $black;
                    padding: 5px 5px 3px 10px;
                    font-size: 18px;
                    font-weight: 500;
                    border-radius: 3px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    cursor: default !important;
                    width: 100%;
                    direction: ltr;
                    margin-bottom: 10px;
                    height: 50px;
                    //background-color: #FDD5BC !important;
                    background: repeating-linear-gradient(
                        45deg,         /* Angle of stripes */
                        #FFD6D6,       /* Slightly lighter starting color of the stripe */
                        #FFD6D6 40px,  /* Slightly lighter width of the stripe */
                        #FFB3B3 40px,  /* Slightly darker color for the stripe */
                        #FFB3B3 60px   /* Total width of two stripes (light + dark) */
                      ) !important;
                      @include mq(1200) {
                        padding: 5px 5px 3px 10px;
                        font-size: 18px;   
                                     }
                        @include mq(900) {
                            font-size: 17px;   
                        }
                        @include mq(768) {
                            font-size: 17px;   
                        }
                        @include mq(600) {
                            padding: 2px 2px 3px 6px;
                            font-size: 16px;  
                            height: 42px; 
 
                        }
                        @include mq(480) {
                            padding: 0px;
                            font-size: 15px;  
                            height: 38px; 
                        }
                    .icon {
                        height: 41px;
                        width: 41px;
                        margin-right: 13px;
                        @include mq(1200) {
                       
                                         }
                            @include mq(900) {
                                  
                            }
                            @include mq(768) {
                               
                            }
                            @include mq(600) {
                                height: 35px;
                                width: 35px; 
                            }
                            @include mq(480) {
                                height: 32px;
                        width: 32px;  
                            }
                    }

                    .arrow {
                        position: absolute;
                        height: 30px;
                        width: 30px;
                        top: 44px;
                        right: 182px;
                        visibility: hidden;
                    }
                }
            }

            .orange {
                background-color: $orange;
            }

            .lightgreen {
                background-color: #81ecec;
            }

            .green300 {
                background-color: #55efc4;
            }

            .lemon {
                background-color: #fab1a0;
            }

            .blue {
                background-color: #74b9ff;
            }

            .green {
                background-color: $green;
            }

            .lemon2 {
                background-color: $lemon;
            }

            .lightgreen2 {
                background-color: $lightgreen;
            }
        }

        .middle__offer__slider {
            display: flex;
            direction: ltr;
            justify-content: start;
            width: 100%;

            .line {
                background-color: $lightgreen;
                width: 99%;
                height: 4px;
            }
        }

        .buttom__offer__slider {
            width: 100%;
            padding-top: 10px;
            background-color: $white;
            display: flex;
            justify-content: space-around;

         

            .product1 {
                @include mq(1200) {
                    width: 38% !important;
                }
             
            }

            .product2 {
                @include mq(1200) {
                    width: 38% !important;
                }
              
            }

            .product3 {
            
            }

            .one__product {
                width: 31%;
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;

                .product__images {
                    display: flex;
                    direction: ltr;
                    justify-content: start;
                    position: relative;

                    img {
                        width: 100%;
                        height: 420px;
                        border-radius: 4px;
                    }
                }

                .add__to__cart__float {
                    position: absolute;
                    z-index: 10;
                    left: 0px;
                    background-color: #fff;
                    width: 160px;
                    height: 214px;
                    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 4px;
                    direction: ltr;
                    transform: perspective(400) rotate3d(1, 0, 0, -90deg);
                    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
                    -moz-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
                    -ms-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
                    -o-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;

                    .one__product__basket {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        position: relative;
                    
                        .tag__discount {
                            position: absolute;
                            border-radius: 30px;
                            width: 27px;
                            height: 27px;
                            background-color: #ff7675;
                            top: 3px;
                            left: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 16px;
                            font-weight: 500;
                            z-index: 10;
                            font-size: 13px;
                        }
                    
                        .product__images {
                            display: flex;
                            direction: ltr;
                            justify-content: center;
                            position: relative;
                    
                            &:hover {
                                .overlay__name {
                                    opacity: 1;
                                }
                            }
                    
                            .overlay__name {
                                position: absolute;
                                width: 95%;
                                background-color: white;
                                opacity: 1;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                direction: ltr;
                                padding: 5px;
                                font-size: 12px;
                                right: 5px;
                                top: 136px;
                                font-weight: 500;
                                color:black
                            }
                    
                            img.tiny {
                                width: 153px ;
                                height: 170px ;
                                border-radius: 4px ;
                                cursor: pointer;
                                object-fit: cover;
                    
                                &:hover {
                                    //box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
                    
                                }
                    
                            }
                    
                    
                        }
                    
                        .product__detail {
                    width: 100%;
                            .product__box__color {
                                margin: 0px;
                    
                                ul {
                                    display: flex;
                                    margin-top: 5px;
                                    margin-bottom: 0px;
                                    justify-content: start;
                                    direction: ltr;
                                    padding: 0px;
                                    li {
                                        height: 30px;
                                        width: 30px;
                                        border: 2px solid grey;
                                        border-radius: 20px;
                                        margin-left: 5px;
                                        cursor: pointer;
                    
                                        &:hover {
                                            border: 2px solid black;
                    
                                        }
                                    }
                    
                                    .yellow {
                                        background-color: yellow;
                    
                                    }
                    
                                    .orange {
                                        background-color: $orange;
                                    }
                    
                                    .white {
                                        background-color: $white;
                                    }
                                }
                            }
                    
                            .product__name {
                                text-align: right;
                                font-size: 15px;
                                margin-bottom: 5px;
                    
                            }
                    
                            .product__price__and__icon {
                                margin-left:30px;
                                display: flex;
                                direction: ltr;
                                justify-content: start;
                                align-items: center;
                                position: relative;
                                cursor: pointer;
                                transition: all 0.6s ease-in-out 0s;
                                -webkit-transition: all 0.6s ease-in-out 0s;
                                -moz-transition: all 0.6s ease-in-out 0s;
                                -ms-transition: all 0.6s ease-in-out 0s;
                                -o-transition: all 0.6s ease-in-out 0s;
                    
                    
                                &:hover {
                                    .icon__basket {
                                        background-color: #ff7675;
                                        width: 160px;
                                        transition: all 0.6s ease-in-out 0s;
                                        -webkit-transition: all 0.6s ease-in-out 0s;
                                        -moz-transition: all 0.6s ease-in-out 0s;
                                        -ms-transition: all 0.6s ease-in-out 0s;
                                        -o-transition: all 0.6s ease-in-out 0s;
                    
                    
                                        .pluse {
                                            visibility: visible;
                                        }
                                    }
                    
                                    .add__to__cart {
                    
                                        visibility: visible;
                    
                    
                                    }
                                }
                    
                                .icon__basket {
                                    padding: 4px;
                                    background-color: $green;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    transition: all 2s ease-in-out 0s;
                                    -webkit-transition: all 2s ease-in-out 0s;
                                    -moz-transition: all 2s ease-in-out 0s;
                                    -ms-transition: all 2s ease-in-out 0s;
                                    -o-transition: all 2s ease-in-out 0s;
                                    width: 47px;
                    
                    
                                    .add__basket {
                                        width: 40px;
                                        height: 40px;
                                        padding: 5px;
                                    }
                    
                                    .pluse {
                                        position: absolute;
                                        top: 21px;
                                        width: 13px;
                                        height: 13px;
                                        right: 165px;
                                        visibility: hidden;
                                    }
                                }
                    
                                .poduct__price {
                                    font-size: 15px;
                                    text-align: right;
                                    font-weight: bold;
                                    position: absolute;
                                    top: 12px;
                                    left: 59px;
                                    z-index: -1;
                    
                                }
                    
                                .discount__price {
                                    text-decoration: line-through;
                                    font-size: 13px;
                                    top: 7px;
                                    left: 64px
                                }
                    
                                .discount__price__main {
                                    color: $orange;
                                    font-size: 15px;
                                    position: absolute;
                                    top: 24px;
                                    left: 64px;
                                    z-index: -1;
                                    font-weight: bold;
                    
                                }
                    
                                .add__to__cart {
                                    position: absolute;
                                    top: 12px;
                                    left: 51px;
                                    visibility: hidden;
                                    font-size: 15px;
                                    font-weight: bold;
                                    color: $white;
                                    transition-delay: 0.4s;
                    
                    
                                }
                    
                            }
                        }
                    }
                    .icon {
                        width: 100%;
                        display: flex;
                        direction: ltr;
                        background-color: #81ecec;
                        padding: 5px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        cursor: pointer;
                        text-decoration: none;
                    
                        &:hover {
                            .plus {
                                visibility: visible;
                            }
                            
                                background-color: #ff7675;
                           
                        }

                        a{
                            text-decoration: none;
                        }
                    
                        .basket {
                            width: 27px;
                            height: 27px;
                            margin-left: 8px;
                        }
                    
                        .plus {
                            position: absolute;
                            top: 16px;
                            width: 11px;
                            height: 11px;
                            right: 136px;
                            visibility: hidden;
                            transition: all 0.4s ease-in-out 0s;
                        }
                    
                        span {
                            font-size: 16px;
                            font-weight: 500;
                            color: $white;
                            margin-left: 4px;
                            text-decoration: none !important; /* Ensure no underline */
                        }
                    }
                    
                    // .icon {
                    //     width: 100%;
                    //     display: flex;
                    //     direction: ltr;
                    //     background-color: #81ecec;
                    //     padding: 5px;
                    //     align-items: center;
                    //     justify-content: center;
                    //     position: relative;
                    //     cursor: pointer;
                    //     text-decoration: none;

                    //     &:hover {
                    //         .plus {
                    //             visibility: visible;
                    //         }
                    //     }

                    //     .basket {
                    //         width: 27px;
                    //         height: 27px;
                    //         margin-left: 18px;
                    //     }

                    //     .plus {
                    //         position: absolute;
                    //         top: 16px;
                    //         width: 11px;
                    //         height: 11px;
                    //         right: 131px;
                    //         visibility: hidden;
                    //         transition: all 0.4s ease-in-out 0s;
                    //         -webkit-transition: all 0.4s ease-in-out 0s;
                    //         -moz-transition: all 0.4s ease-in-out 0s;
                    //         -ms-transition: all 0.4s ease-in-out 0s;
                    //         -o-transition: all 0.4s ease-in-out 0s;
                    //     }

                    //     span {
                    //         font-size: 16px;
                    //         font-weight: 500;
                    //         color: $white;
                    //         margin-left: 4px;
                    //         text-decoration: none !important;
                    //     }
                    // }
                }

                .circle__and__add__to__cart {
                    background-color: black;

                    .circle {
                        height: 27px;
                        width: 27px;
                        border: 3px solid white;
                        border-radius: 15px;
                        position: absolute;
                        animation: icon__animate3 2s infinite;
                        -webkit-animation: icon__animate3 2s infinite;
                        cursor: pointer;
                        background-color: #FFB3B3;
                        transition: all 0.4s ease-in-out 0s;
                        -webkit-transition: all 0.4s ease-in-out 0s;
                        -moz-transition: all 0.4s ease-in-out 0s;
                        -ms-transition: all 0.4s ease-in-out 0s;
                        -o-transition: all 0.4s ease-in-out 0s;

                        &:hover {
                            border: 7px solid white;
                            background-color: $black;
                            animation: none;
                            -webkit-animation: none;

                            .add__to__cart__float {
                                left: 16px;
                                top: 3px;
                                transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -webkit-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -moz-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -ms-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -o-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                            }
                        }
                    }

                    .circle-1-1 {
                        top: 111px;
                        left: 176px;
                    }

                    .circle-1-2 {
                        top: 222px;
                        left: 228px;
                    }

                    .circle-1-3 {
                        top: 299px;
                        left: 129px;
                    }

                    .circle-2-1 {
                        top: 132px;
                        left: 150px;
                    }

                    .circle-2-2 {
                        top: 267px;
                        left: 129px;
                    }

                    .circle-2-3 {
                        top: 374px;
                        left: 243px;

                        &:hover {
                            .add__to__cart__float {
                                left: 24px;
                                top: 13px;
                                transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -webkit-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -moz-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -ms-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                                -o-transform: perspective(400) rotate3d(1, 0, 0, 0deg);
                            }
                        }
                    }

                    .circle-3-1 {
                        top: 139px;
                        right: 164px;
                    }

                    .circle-3-2 {
                        top: 234px;
                        left: 218px;
                    }

                    .circle-3-3 {
                        top: 367px;
                        left: 149px;
                    }
                }
            }
        }
    }
}
