@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';


.main__content{
    direction: ltr;
    margin-top: 15px;
    text-align: left;
    //padding-left: 5px;
th{
        font-size: 17px;
        margin-left: 3px;
        @include mq(800) {
            font-size: 16px;
                                }
                                @include mq(700) {
                                    font-size: 15px;
                                }
                                @include mq(600) {
                                    font-size: 14px;
                                }
}
td{
    margin-left: 3px;
    font-size: 17px;
    @include mq(800) {
        font-size: 16px;
                            }
                            @include mq(700) {
                                font-size: 15px;
                            }
                            @include mq(600) {
                                font-size: 14px;
                            }

}
.title{
    width: 25%;
    min-width: 143px;
    font-weight: 500;

}
}