.container .related__products .related__offer {
  margin-top: 15px;
  position: relative;
}
.container .related__products .related__offer .main__offer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.container .related__products .related__offer .main__offer .top__offer {
  display: flex;
  width: 100%;
}
.container .related__products .related__offer .main__offer .top__offer .top__offer__category {
  color: #fff;
  padding: 5px 5px 0px 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.container .related__products .related__offer .main__offer .top__offer .top__offer__category:hover .icon {
  animation: icon__animate 2s infinite;
  -webkit-animation: icon__animate 2s infinite;
}
.container .related__products .related__offer .main__offer .top__offer .top__offer__category .icon {
  height: 43px;
  width: 43px;
  margin-left: 5px;
}
.container .related__products .related__offer .main__offer .top__offer .top__offer__category .arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 44px;
  right: 182px;
  visibility: hidden;
}
.container .related__products .related__offer .main__offer .top__offer .orange {
  background-color: #ff7675;
}
.container .related__products .related__offer .main__offer .top__offer .lightgreen {
  background-color: #81ecec;
}
.container .related__products .related__offer .main__offer .top__offer .green300 {
  background-color: #55efc4;
}
.container .related__products .related__offer .main__offer .top__offer .lemon {
  background-color: #fab1a0;
}
.container .related__products .related__offer .main__offer .top__offer .blue {
  background-color: #74b9ff;
}
.container .related__products .related__offer .main__offer .top__offer .green {
  background-color: #55efc4;
}
.container .related__products .related__offer .main__offer .middle__offer__slider {
  display: flex;
  direction: rtl;
  justify-content: start;
  width: 100%;
}
.container .related__products .related__offer .main__offer .middle__offer__slider .line {
  background-color: #55efc4;
  width: 99%;
  height: 4px;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider {
  width: 100%;
  padding-top: 10px;
  background-color: #fff;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider:hover .slick-arrow {
  visibility: visible;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .tag__discount {
  position: absolute;
  border-radius: 30px;
  width: 41px;
  height: 41px;
  background-color: #ff7675;
  top: 3px;
  left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
  font-weight: 500;
  z-index: 10;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__images {
  display: flex;
  direction: rtl;
  justify-content: center;
  position: relative;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__images:hover .overlay__name {
  opacity: 1;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__images .overlay__name {
  font-weight: 500;
  position: absolute;
  width: 94%;
  height: 45px;
  background-color: white;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  direction: rtl;
  padding: 5px;
  font-size: 14px;
  right: 7px;
  top: 227px;
  font-weight: 500;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__images img {
  width: 207px;
  height: 285px;
  border-radius: 4px;
  cursor: pointer;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__images img:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color {
  margin-bottom: 12px;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul {
  display: flex;
  margin-top: 10px;
  margin-bottom: 7px;
  justify-content: center;
  direction: rtl;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul li {
  height: 30px;
  width: 30px;
  border: 2px solid grey;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul li:hover {
  border: 2px solid black;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul .yellow {
  background-color: yellow;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul .blue {
  background-color: yellowgreen;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul .orange {
  background-color: #ff7675;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__box__color ul .white {
  background-color: #fff;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__name {
  text-align: right;
  font-size: 15px;
  margin-bottom: 5px;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon {
  display: flex;
  direction: rtl;
  justify-content: start;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon:hover .icon__basket {
  width: 200px;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon:hover .icon__basket .pluse {
  visibility: visible;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon:hover .add__to__cart {
  visibility: visible;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket {
  padding: 4px;
  background-color: #55efc4;
  border-radius: 4px;
  cursor: pointer;
  transition: all 2s ease-in-out 0s;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  -ms-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
  width: 47px;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .add__basket {
  width: 40px;
  height: 40px;
  padding: 5px;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .icon__basket .pluse {
  position: absolute;
  top: 21px;
  width: 13px;
  height: 13px;
  right: 17px;
  visibility: hidden;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .poduct__price {
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  position: absolute;
  top: 12px;
  left: 43px;
  z-index: -1;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .with__discount {
  text-decoration: line-through;
  font-size: 13px;
  top: 3px;
  left: 50px;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .discount__price {
  color: #ff7675;
  font-size: 15px;
  position: absolute;
  top: 24px;
  left: 43px;
  z-index: -1;
  font-weight: bold;
}
.container .related__products .related__offer .main__offer .buttom__offer__slider .one__product .product__detail .product__price__and__icon .add__to__cart {
  position: absolute;
  top: 12px;
  left: 51px;
  visibility: hidden;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  transition-delay: 0.4s;
}
.container .related__products .related__offer .slick-arrow {
  top: 40%;
  visibility: hidden;
}
.container .related__products .related__offer .slick-arrow::before {
  font-size: 35px;
  color: grey;
}
.container .related__products .related__offer .slick-next {
  right: -1px;
}
.container .related__products .related__offer .slick-prev {
  left: -12px;
  z-index: 10;
}/*# sourceMappingURL=related__product.css.map */