//Fonts
$FontSize:13px;
$main-font:IRANSans;


//semantic Color
$white:#fff;
$black:#000;
//color

$red300:#d63031;
$green300:#00b894;
$yellow300:#EAFF0C;
$green200:#fab1a0;
$black300:rgba(0,0,0,0.3);
$orange:#ff7675;
$lemon:#ffeaa7;
$green500:#00cec9;
$lightgreen:#81ecec;
$lightgrey:#dfe6e9;
$green:#55efc4;
$pink:#fd79a8;
$purple:#a29bfe;
$yellow:#feca57;
$lightgray:#e9ecef;
$gray:#808080;
$lightgreen2:#22a6b3;
$lightgray2:#e9ecef;
$silver:#bdc3c7;
$mixColor:linear-gradient(red, yellow, blue);
//
