@import './../../../scss/variable.scss';
@import './../../../scss/mixins.scss';


@keyframes trash__animate {
    0% {
transform: rotate(45deg);
    }
  
    25% {
        transform: rotate(0deg);

    }
  
    50% {
        transform: rotate(-45deg);

    }
  
    75% {
        transform: rotate(0deg);

    }
  
    100% {
        transform: rotate(45deg);

    }
  }


  .striped-background-red {
    background: repeating-linear-gradient(
      45deg,  /* Angle of stripes */
      #FF7675,  /* Starting color of stripe */
      #FF7675 10px,  /* Width of stripe */
      #e66564 10px,  /* Ending color of stripe */
      #e66564 20px   /* Total width of two stripes (light + dark) */
    );
  }
  

.container-special {
    direction: rtl;
    font-family: $main-font;
    padding: 0 15px; // Add some padding for smaller screens
    max-width: clamp(400px, 100%, 1200px); /* This will grow between 500px and 1300px */
margin: auto;


    // @include mq(1200) {
    //     max-width: 1140px ;
    // }

    //     @include mq(992) {
    //         max-width: 960px;
    //     }
    
 
}

header {
    background-color: $orange;

    .header__content {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        @include mq(768) {
            justify-content: space-around;

          }
          @include mq(500) {
            justify-content: space-between;
            padding: 10px 0;

          }

        .header__left {
            display: flex;
            align-items: center;
            @include mq(900) {
               width: 100%;
               }
         

            .logo {
               margin-left: 13px;
               @include mq(1000) {
                display: none;
                        }
                a {
                    width: 80px;
                    display: inline-block;

                    img {
                        height: 100%;
                        width: 100%;
                        @include mq(815) {
                            display: none;
                                    }
                     

                    }
                }
            }



 
        }
    }

    .header__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 270px;


}

}
.register__modal{
    div{
        direction: ltr;
    }
.modal-content{
position: absolute !important;
top: 63px;

.register{
    .modal-header{
        height: 60px;
        //background-color:$orange !important;
        background: repeating-linear-gradient(
    45deg,           /* Angle of stripes */
    #FF7675,         /* Starting color of stripe */
    #FF7675 20px,    /* Width of red stripe */
    #e66564 20px,    /* Darker red stripe starts here */
    #e66564 40px     /* Total width of two stripes (light + dark) */
  ) !important;
        .modal-title{
            font-size: 22px !important;
            margin-right: 16px;

        }
        .close{
            color:$lemon !important;
            position: absolute;
            left: 5px;
            font-size: 34px;

        
        }
    }
    .modal-body{
        .form-row{
            margin-bottom: 20px;
        }
.form-group{

}
.form-check{
    display: flex;
    align-items: center;
    margin-top: 25px;
    .form-check-input{
        top: 4px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
        top: -5px;
        right: 10px;
        cursor: pointer;
        zoom: 1.5;
    }

    .form-check-label{
        font-size: 14px !important;
        margin-right: 48px;
    }
}


    
}
    .modal-footer{
        background-color: $lightgreen;
        justify-content: flex-start;
        .btn-secondary{
            background-color: #FDD5BC !important;
            color: $black;
            border: 0px;
            &:hover{
                background-color: #e6bfa6;
            }
        }
        .btn-primary{
            background-color:$orange;
            border: 0px;
            width: 200px;
            &:hover{
                background-color: #e65c5b;
            }

        }
    }
}
.success__register{

    .modal-header{
        height: 60px;
        //background-color:$orange !important;
        background: repeating-linear-gradient(
    45deg,           /* Angle of stripes */
    #FF7675,         /* Starting color of stripe */
    #FF7675 20px,    /* Width of red stripe */
    #e66564 20px,    /* Darker red stripe starts here */
    #e66564 40px     /* Total width of two stripes (light + dark) */
  ) !important;
        .modal-title{
            font-size: 22px !important;
            margin-right: 16px;

        }
        .close{
            color:$lemon !important;
            position: absolute;
            left: 5px;
            font-size: 34px;

        
        }
    }
    .modal-body{
div{
font-size: 24px;
}
.name{
text-align: right;

}
.welcom{
text-align: center;

}


    
}
    .modal-footer{
        background-color: $lightgreen;
        .btn-secondary{
            background-color: $lemon !important;
            color: $black;
            border: 0px;
        }
        .btn-primary{
            background-color:$orange;
            border: 0px;
            width: 200px;

        }
    }
}///success__login

}
}







.login__modal{
    div{
        direction: ltr;
    }
    .modal-content{
    position: absolute !important;
    top: 63px;
    
    .login{
    .modal-header{
        height: 60px;
        //background-color:$orange !important;
        background: repeating-linear-gradient(
    45deg,           /* Angle of stripes */
    #FF7675,         /* Starting color of stripe */
    #FF7675 20px,    /* Width of red stripe */
    #e66564 20px,    /* Darker red stripe starts here */
    #e66564 40px     /* Total width of two stripes (light + dark) */
  ) !important;
            .modal-title{
                font-size: 22px !important;
                margin-right: 16px;
    
            }
            .close{
                color:$lemon !important;
                position: absolute;
                left: 5px;
                font-size: 34px;
    
            
            }
        }
        .modal-body{
            .form-row{
                margin-bottom: 20px;
            }
    .form-group{
    
    }
    .form-check{
        display: flex;
        align-items: center;
        margin-top: 25px;
        .form-check-input{
            top: 4px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
            top: -5px;
            right: 10px;
            cursor: pointer;
            zoom: 1.5;
        }

        .form-check-label{
            font-size: 14px !important;
            margin-right: 48px;
        }
    }
    
    
        
    }
        .modal-footer{
            background-color: $lightgreen;
            justify-content: flex-start;

            .btn-secondary{
                background-color: #FDD5BC !important;
                color: $black;
                border: 0px;
                &:hover{
                    background-color: #e6bfa6;
                }
            }
            .btn-primary{
                background-color:$orange;
                border: 0px;
                width: 200px;
                &:hover{
                    background-color: #e65c5b;
                }
    
            }
        }
    }///login
    .success__login{

        .modal-header{
            height: 60px;
            //background-color:$orange !important;
            background: repeating-linear-gradient(
        45deg,           /* Angle of stripes */
        #FF7675,         /* Starting color of stripe */
        #FF7675 20px,    /* Width of red stripe */
        #e66564 20px,    /* Darker red stripe starts here */
        #e66564 40px     /* Total width of two stripes (light + dark) */
      ) !important;
            .modal-title{
                font-size: 22px !important;
                margin-right: 16px;
    
            }
            .close{
                color:$lemon !important;
                position: absolute;
                left: 5px;
                font-size: 34px;
    
            
            }
        }
        .modal-body{
div{
    font-size: 24px;
}
.name{
    text-align: right;

}
.welcom{
    text-align: center;

}

    
        
    }
        .modal-footer{
            background-color: $lightgreen;
            .btn-secondary{
                background-color: $lemon !important;
                color: $black;
                border: 0px;
            }
            .btn-primary{
                background-color:$orange;
                border: 0px;
                width: 200px;
    
            }
        }
    }///success__login
}
    }